<div class="submit-enrollment">
  <app-enrollment-form-header
    [selectPrescriberForm]="selectPrescriberForm"
    [selectPrescriberField]="prescriberListJson"
    [displayedScreen]="displayScreen"
    (prescriberChanged)="
      submitEnrolService.selectedPrescriberId.next($event)
    "></app-enrollment-form-header>
  <div class="submit-enrollment-container">
    <!-- <ng-container #enrollmentForm></ng-container> -->
    <!-- TODO: optimize this -->
    <ng-container [ngSwitch]="displayScreen">
      <app-select-medication
        *ngSwitchCase="'select-medication'"
        (action)="onAction($event)"></app-select-medication>
      <app-select-prescriber
        *ngSwitchCase="'select-prescriber'"
        (action)="onAction($event)"
        (prescribersFormData)="
          getPrescribersFormData($event)
        "></app-select-prescriber>
      <app-select-services
        *ngSwitchCase="'select-services'"
        [selectedMedication]="
          submitEnrolService.enrollmentFormPayload.DrugGroup
        "
        (action)="onAction($event)"></app-select-services>
      <app-select-patient
        *ngSwitchCase="'select-patient'"
        (action)="onAction($event)"></app-select-patient>
      <app-prescriber-details
        *ngSwitchCase="'prescriber-details'"
        (action)="onAction($event)"></app-prescriber-details>
      <app-select-insurance
        *ngSwitchCase="'select-insurance'"
        (action)="onAction($event)"></app-select-insurance>
      <app-select-prescription
        *ngSwitchCase="'select-prescription'"
        (action)="onAction($event)">
      </app-select-prescription>
    </ng-container>
  </div>
</div>

<app-custom-dialog
  *ngIf="openExitDialog"
  [data]="{ title: 'Confirmation', closeText: 'No', confirmText: 'Yes' }"
  (action)="confirmExit($event)">
  <div class="flex">
    <img src="../../../../assets/images/tri_alert_icon.svg" alt="Alert" />
    <div>
      <h4>Are you sure you want to exit the patient enrollment process?</h4>
      <h4>Any information filled in will be lost.</h4>
    </div>
  </div>
</app-custom-dialog>
