*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $primary-font, 'Helvetica Neue', sans-serif;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(small-desktop) {
    // width < 1440?
    font-size: 62.5%; //1 rem = 9px, 9/16 = 50%
  }
  @include respond(tab-land) {
    // width < 1200?
    font-size: 54%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }
  @include respond(mini-tab-port) {
    font-size: 46%;
  }

  @include respond(mobile) {
    // width < 900?
    font-size: 43%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  padding: 0;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

li {
  list-style: none;
}

ng2-pdfjs-viewer {
  width: 80rem;
  height: 60rem;
  display: flex;
}

td {
  cursor: pointer;
}

.primary-title {
  color: $color-primary;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.9rem;
}
.sec-title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: $color-sub-header;
}

.enroll-form {
  padding: 2.4rem;
  border: $border-style;
  background-color: $color-white;
  border-radius: 0.8rem;
}
.panel-cont {
  display: flex;
  align-content: flex-start;
  gap: 3rem;
  .panel {
    flex-basis: 48%;
    padding-right: 4rem;
  }
  .panel-big {
    flex-basis: 48%;
  }
}

::ng-deep .mat-mdc-form-field {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(74, 74, 74, 0.8);
  z-index: 999;
}
