<div class="enroll-form">
  <div class="primary-title flex toggle-panel">
    Prescriber/Facility Information
  </div>
  <div class="sec-title panel-cont">
    <span class="rp-8">
      Please provide the collaborating prescriber information (if applicable).
    </span>
    <span> Please provide the shipping location information.</span>
  </div>
  <div class="error-or-required tm-1">* Required field</div>
  <div *ngIf="submitEnrolService.shippingDetailForm" class="panel-cont">
    <div class="panel">
      <div
        *ngFor="let control of submitEnrolService.prescriberDetails.controls"
        [ngClass]="control.class ? control.class : 'tm-1'">
        <app-custom-form
          *ngIf="control.display"
          [field]="control"
          [form]="submitEnrolService.prescriberDetailForm"
          formType="enrollment-form">
          <app-custom-input
            *ngIf="control.name === 'officeContactPhone'"
            [form]="submitEnrolService.prescriberDetailForm"
            [field]="{
              name: 'officeContactExt',
              value: '',
              display: true,
              label: '',
              placeholder: 'Ext(if applicable)',
              type: 'text',
              class: 'office-contact-ext-position',
              validators: {}
            }"></app-custom-input>
        </app-custom-form>
      </div>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="panel">
      <app-custom-form
        *ngIf="
          submitEnrolService.enrollmentFormPayload.DrugGroup !== 'Jemperli'
        "
        [field]="submitEnrolService.shippingDetails.controls[0]"
        [form]="submitEnrolService.shippingDetailForm"
        formType="enrollment-form"></app-custom-form>
      <ng-container
        *ngIf="
          submitEnrolService.shippingDetailForm.controls['shippingAddressType']
            .value === 'otherAddress' ||
          submitEnrolService.enrollmentFormPayload.DrugGroup === 'Jemperli'
        ">
        <div
          *ngFor="
            let control of submitEnrolService.shippingDetails.controls
              | slice : 1
          "
          [ngClass]="control.class ?? 'tm-1'">
          <app-custom-form
            *ngIf="control.display"
            [field]="control"
            [form]="submitEnrolService.shippingDetailForm"
            formType="enrollment-form"></app-custom-form>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div *ngIf="submitEnrolService.shippingDetailForm" class="action-panel">
  <app-custom-button
    btnClass="small secondary"
    btnText="&#60; Back"
    (action)="onAction('back')"></app-custom-button>
  <app-custom-button
    btnClass="small tertiary"
    btnText="Next &#62;"
    (action)="onAction('next')"
    [isDisabled]="checkFormValidity()"></app-custom-button>
</div>
