<div class="enroll-form">
  <div class="primary-title flex toggle-panel">
    Prescriber/Facility Information
  </div>
  <div *ngIf="submitEnrolService.shippingDetailForm" class="panel-cont">
    <div class="panel-left">
      <div>
        Please provide the collaborating prescriber information (if applicable).
      </div>
      <div class="error-or-required">* Required field</div>
      <div class="panel-left-content">
        <div
          *ngFor="let control of submitEnrolService.prescriberDetails.controls"
          [ngClass]="control.class ? control.class : 'tm-1'">
          <app-custom-form
            *ngIf="control.display"
            [field]="control"
            [form]="submitEnrolService.prescriberDetailForm"
            formType="enrollment-form"></app-custom-form>
        </div>
      </div>
    </div>
    <div class="panel-right">
      <div>Please provide the shipping location information.</div>
      <div
        *ngIf="
          submitEnrolService.enrollmentFormPayload.DrugGroup !== 'Jemperli'
        ">
        (check one if shipping is needed).
      </div>
      <div
        class="panel-content"
        [ngClass]="
          submitEnrolService.enrollmentFormPayload.DrugGroup === 'Jemperli'
            ? 'tm-3'
            : 'tm-1'
        ">
        <!-- <app-custom-form
        *ngIf="
          submitEnrolService.enrollmentFormPayload.DrugGroup !== 'Jemperli'
        "
        [field]="submitEnrolService.shippingDetails.controls[0]"
        [form]="submitEnrolService.shippingDetailForm"
        formType="enrollment-form"></app-custom-form> -->
        <ng-container>
          <div
            *ngFor="let control of submitEnrolService.shippingDetails.controls"
            [ngClass]="control.class ?? 'tm-1'">
            <app-custom-form
              *ngIf="control.display"
              [field]="control"
              [form]="submitEnrolService.shippingDetailForm"
              formType="enrollment-form"></app-custom-form>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="submitEnrolService.shippingDetailForm" class="action-panel">
  <app-custom-button
    btnClass="small secondary"
    btnText="&#60; Back"
    (action)="onAction('back')"></app-custom-button>
  <app-custom-button
    btnClass="small tertiary"
    btnText="Next &#62;"
    (action)="onAction('next')"
    [isDisabled]="checkFormValidity()"></app-custom-button>
</div>
