<div class="header">
  <div class="header-left">
    <img
      class="header-logo"
      src="../../../assets/images/gsk_logo.svg"
      alt="GSK Logo" />
    <div>
      <div class="htext htext-top text-xxl text-x-bold">Together with</div>
      <div class="htext htext-bottom text-xxl text-x-bold">GSK Oncology</div>
    </div>
  </div>
  <div class="header-right">
    <div *ngIf="!authService.isLoggedIn()" class="htext text-med text-x-bold">
      <div>For Healthcare</div>
      <div>Professionals Only</div>
    </div>
    <div [ngClass]="authService.isLoggedIn() ? 'border-right' : 'border-left'">
      <div class="primary-contact">1-844-4GSK-ONC</div>
      <div class="secondary-contact">1-844-447-5662</div>
      <div class="office-timings">8 AM ET to 8 PM ET</div>
    </div>
    <div *ngIf="authService.isLoggedIn()" class="auth">
      <div class="user">
        <img src="../../../../assets/images/user_icon.svg" [alt]="userName" />
        <span>Welcome {{ userName }}</span>
      </div>
      <div class="logout" (click)="logout()">Logout</div>
    </div>
  </div>
</div>
