<div class="header">
  <div class="header-left">
    <img
      class="header-logo"
      src="../../../assets/images/gsk_logo.svg"
      alt="GSK Logo" />
    <div>
      <div class="htext htext-top text-xxl text-x-bold">Together with</div>
      <div class="htext htext-bottom text-xxl text-x-bold">GSK Oncology</div>
    </div>
  </div>
  <div class="header-right">
    <div *ngIf="!authService.isLoggedIn()" class="htext text-med text-x-bold">
      <div>For Healthcare</div>
      <div>Professionals Only</div>
    </div>
    <mat-divider
      vertical
      [ngClass]="{ 'header-divider': !authService.isLoggedIn() }"></mat-divider>
    <div class="text-right">
      <div class="primary-contact text-med text-x-bold">
        <span><mat-icon>phone</mat-icon></span> 1-844-4GSK-ONC
      </div>
      <div class="secondary-contact text-xxs text-x-bold">(1-844-447-5662)</div>
      <div class="office-timings text-xs text-x-bold">8 AM ET to 8 PM ET</div>
    </div>
    <mat-divider
      vertical
      [ngClass]="{ 'header-divider': authService.isLoggedIn() }"></mat-divider>
    <div *ngIf="authService.isLoggedIn()" class="auth">
      <div class="user text-small text-x-bold">
        <img src="../../../../assets/images/user_icon.svg" [alt]="userName" />
        <span class="user-welcome" [routerLink]="['/profile']"
          >Welcome {{ userName }}</span
        >
      </div>
      <mat-divider vertical class="header-divider"></mat-divider>
      <div class="logout" (click)="logout()">
        <img
          src="../../../../assets/images/logout_icon.svg"
          class="exit-icon" />
        LogOut
      </div>
    </div>
  </div>
</div>
