@import '../../../../assets/styles/abstracts/variables';
.login-container {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  .specification-and-form {
    width: 55%;
    position: absolute;
    top: 10%;
    right: 12%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 2.4rem;

    .portal-specification {
      background: $color-tertiary;
      border-radius: 0 60px;
      width: 35.2rem;

      &-header {
        font-size: 3rem;
        font-family: $tertiary-font;
        font-weight: 700;
      }

      &-points {
        padding: 2.8rem 1.5rem 2.8rem 2.4rem;

        .banner-content-size {
          list-style-type: none;
          padding-left: 1.7rem;
          padding-top: 1.2rem;
          line-height: 2.6rem;
          font-size: 1.6rem;
          font-weight: 400;

          .check-mark {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
      }
    }

    .login-panel {
      display: flex;
      flex-direction: column;
      gap: 2.2rem;
      width: 54.1rem;
      background-color: $color-white-fade;
      padding: 1.4rem 2.5rem 2.5rem 2.5rem;
      border-radius: 1.2rem;
      &-header {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 2.9rem;
        font-family: $tertiary-font;
        color: $color-primary;
      }
      &-body {
        background-color: $color-primary;
        border-radius: 1rem;
      }
      &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-text {
          font-size: 2.2rem;
          font-weight: 700;
          font-family: $tertiary-font;
          color: $color-primary;
        }
        &-button {
          color: $color-white;
          background-color: $color-secondary;
          font-size: 2.2rem;
          font-weight: 700;
          padding: 0.9rem 2.8rem;
          justify-items: center;
          border-radius: 0.6rem;
          border: none;
        }
      }
    }
  }
}
.image-banner {
  
}
