@import '../../../../assets/styles/abstracts/variables';
@import '../../../../assets/styles/abstracts/mixins';
.login-container {
  width: 100%;
  height: 100%;
  position: relative;
  background: url('../../../../assets/images/login_background_img.svg')
    no-repeat top left;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 3.5rem 8rem 3rem 3rem;
  gap: 2.5rem;

  .portal-specification {
    background: $color-tertiary;
    border-radius: 0 6rem;
    width: 35.2rem;
    @include respond(tab-land) {
      width: 37rem;
    }
    @include respond(tab-port) {
      width: 39rem;
    }
    @include respond(min-tab-port) {
      width: 41rem;
    }

    &-header {
      font-size: 3rem;
      font-family: $tertiary-font;
      font-weight: 700;
    }

    &-points {
      padding: 2.8rem 1.5rem 2.8rem 2.4rem;

      .banner-content-size {
        list-style-type: none;
        padding-left: 1.7rem;
        padding-top: 1.2rem;
        line-height: 2.6rem;
        font-size: 1.6rem;
        font-weight: 400;

        .check-mark {
          width: 1.3rem;
          height: 1.3rem;
        }
      }
    }
  }

  .login-panel {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    width: 54.1rem;
    background-color: $color-white-fade;
    padding: 1.4rem 2.5rem 2.5rem 2.5rem;
    border-radius: 1.2rem;
    @include respond(tab-land) {
      width: 52rem;
    }
    @include respond(tab-port) {
      width: 50rem;
    }
    &-header {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 2.9rem;
      font-family: $tertiary-font;
      color: $color-primary;
    }
    &-body {
      padding: 2.5rem;
      background-color: $color-primary;
      border-radius: 1rem;
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-text {
        font-size: 2.2rem;
        font-weight: 700;
        font-family: $tertiary-font;
        color: $color-primary;
      }
      &-button {
        color: $color-white;
        background-color: $color-secondary;
        font-size: 2.2rem;
        font-weight: 700;
        padding: 0.9rem 2.8rem;
        justify-items: center;
        border-radius: 0.6rem;
        border: none;
      }
    }
  }
  // }
}
.image-banner {
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  .input-fields {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-label {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: 700;
      font-family: $tertiary-font;
    }
  }

  &-submit-btn {
    width: 100%;
    background-color: $color-tertiary;
    align-items: center;
    padding: 1.4rem;
    border: none;
    font-size: 2.6rem;
    line-height: 2.9rem;
    color: $color-white;
    border-radius: 10px;
  }
}
