<div class="login-container">
  <div class="portal-specification">
    <div class="portal-specification-points">
      <div class="portal-specification-header">24/7 Online Support</div>
      <ul class="banner-content-size">
        <li>
          <img src="/assets/images/tick.svg" class="check-mark" />
          Electronic enrollment and e-Signature functionality
        </li>
        <li>
          <img src="/assets/images/tick.svg" class="check-mark" /> Status
          updates on enrollment form submissions
        </li>
        <li>
          <img src="/assets/images/tick.svg" class="check-mark" />
          Real-time notification alerts
        </li>
        <li>
          <img src="/assets/images/tick.svg" class="check-mark" />
          Upload of supporting documentation
        </li>
      </ul>
    </div>
  </div>
  <div class="login-panel">
    <div class="login-panel-header">LOGIN</div>
    <div class="login-panel-body">
      <div class="input-fields" *ngFor="let control of formData?.controls">
        <app-custom-form
          [field]="control"
          [form]="loginForm"
          formType="login"></app-custom-form>
      </div>
      <button class="login-form-submit-btn" type="submit" (click)="onSubmit()">
        Login
      </button>
    </div>
    <div class="login-panel-footer">
      <span class="login-panel-footer-text">Not Registered?</span>
      <app-custom-button
        btnText="Register Practice"
        btnClass="secondary register-user"
        isDisable="false"></app-custom-button>
    </div>
  </div>
</div>
