@import '../../../../../assets/styles/abstracts/variables';

.login-form {
  label {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    color: $color-white;
  }

  & > .extLinkDiv {
    display: flex;
    justify-content: flex-end;
    .extLink {
      margin-top: 0.7rem;
      font-family: $tertiary-font;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.9rem;
      text-decoration-line: underline;
      color: $color-white;
      cursor: pointer;
    }
  }

  .extLinkDiv {
    display: none;
  }
}

::ng-deep .enrollment-form {
  display: flex;
  align-items: center;
  label {
    color: $color-grey-dark-4;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
    flex-basis: 40%;
  }
  app-custom-input,
  app-custom-radio {
    flex-basis: 60%;
  }
}
