@import '../../../../../assets/styles/abstracts/variables';

.login-form {
  label {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    color: $color-white;
  }
}

label {
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: $color-grey-dark;

  .asterick {
    color: $color-error;
  }
}

.login-form > .extLinkDiv {
  display: flex;
  justify-content: flex-end;
  .extLink {
    margin-top: 0.7rem;
    font-family: $tertiary-font;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.9rem;
    text-decoration-line: underline;
    color: $color-white;
    cursor: pointer;
  }
}

.extLinkDiv {
  display: none;
}
