<div [ngClass]="field.class ? field.class : formType">
  <ng-container #dynamicForm>
    <label *ngIf="field.label" class="label">
      <div
        *ngIf="field.preventDefaultSelection; else else_block"
        [innerHTML]="field.label | safe : 'html'"></div>
      <ng-template #else_block>
        {{ field.label }}
      </ng-template>
      <span class="error-or-required" *ngIf="field.validators?.required"
        >*</span
      >
    </label>
  </ng-container>
  <div *ngIf="field.extLink !== ''" class="extLinkDiv">
    <p class="extLink" (click)="navigateRoute()">
      {{ field.extLink }}
    </p>
  </div>
</div>
