<div
  [ngClass]="{
    'login-form': formType === 'login',
    'enrollment-form': formType === 'enrollment-form',
    'forgot-username-form': formType === 'forgot-username',
    'profile-form': formType === 'profile-form',
    'forgot-username': formType === 'forgot-username'
  }">
  <ng-container #dynamicForm>
    <label *ngIf="field.label" class="label"
      >{{ field.label }}
      <span class="error-or-required" *ngIf="field.validators?.required"
        >*</span
      ></label
    >
  </ng-container>
  <div *ngIf="field.extLink !== ''" class="extLinkDiv">
    <p class="extLink" (click)="navigateRoute()">
      {{ field.extLink }}
    </p>
  </div>
</div>
