@import '../../../../../assets/styles/abstracts/variables';
@import '../../../../../assets/styles/abstracts/mixins';

.login-form {
  label {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    color: $color-white;
  }

  & > .extLinkDiv {
    display: flex;
    justify-content: flex-end;
    .extLink {
      margin-top: 0.7rem;
      font-family: $tertiary-font;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.9rem;
      text-decoration-line: underline;
      color: $color-white;
      cursor: pointer;
    }
  }
}

::ng-deep .enrollment-form,
.bg-enrollment-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  label {
    color: $color-grey-dark-4;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

::ng-deep .enrollment-form {
  label {
    flex-basis: 35%;
  }
  app-custom-input,
  app-custom-radio {
    flex-basis: 60%;
  }
}
::ng-deep .bg {
  label {
    flex-basis: 55%;
  }
  app-custom-input,
  app-custom-radio {
    flex-basis: 40%;
  }
}

::ng-deep .block-radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  @include respond(tab-land) {
    width: 100%;
  }
  & > label {
    margin-top: 1rem;
  }
}
.extLinkDiv {
  display: none;
}

.profile-form,
.forgot-username {
  label {
    color: $color-black;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
}
