<div [ngClass]="field.class ? field.class : formType">
  <ng-container #dynamicForm>
    <label *ngIf="field.label" class="label"
      >{{ field.label }}
      <span class="error-or-required" *ngIf="field.validators?.required"
        >*</span
      >
      <app-custom-tooltip
        *ngIf="field.tooltipContent"
        [tooltipContent]="field.tooltipContent"></app-custom-tooltip>
    </label>
  </ng-container>
  <div *ngIf="field.extLink !== ''" class="extLinkDiv">
    <p class="extLink" (click)="navigateRoute()">
      {{ field.extLink }}
    </p>
  </div>
</div>
