<div class="change-security-ques">
  <p class="change-security-ques-heading text-med text-x-bold">
    Update your security questions in the event you forget your password.
  </p>
  <p class="error-or-required"><span>* </span>Required field</p>
  <div class="form-fields">
    <div
      class="input-fields"
      *ngFor="let control of profileService.changeSecurityQuesJSON?.controls">
      <app-custom-form
        [class]="'input-fields-' + control.name"
        [field]="control"
        [form]="profileService.changeSecurityQuesForm"
        (action)="changeSecurityQuestions()"></app-custom-form>
    </div>
  </div>
  <div *ngIf="showSuccessMessage" class="change-security-ques-success-message">
    <mat-icon class="success-icon">info</mat-icon>
    <span class="text-normal text-x-bold">
      {{
        samePreviousAnswers && samePreviousAnswers.length
          ? samePreviousAnswers
          : 'Your Security Questions have been changed successfully.'
      }}
    </span>
  </div>
  <div class="change-security-ques-buttons">
    <app-custom-button
      btnClass="secondary register-user"
      btnText="&#60; Back to Home"
      (click)="navigateToHome()"></app-custom-button>
    <app-custom-button
      btnClass="tertiary register-user"
      btnText="Save"
      [isDisabled]="
        profileService.changeSecurityQuesForm &&
        profileService.changeSecurityQuesForm.invalid
      "
      (click)="saveSecurityQuestions()"></app-custom-button>
  </div>
</div>
