@import '../../../../assets/styles/abstracts/variables';
@import '../../../../assets/styles/abstracts/mixins';

::ng-deep {
  .change-security-ques {
    .mat-mdc-form-field {
      width: 100%;
      &-subscript-wrapper {
        display: none;
      }
    }
    .input-fields {
      &-currentPassword > div {
        border-bottom: 1px solid $color-grey-border;
        padding-bottom: 5rem;
      }
      &-question1 > div {
        padding-top: 5rem;
      }
      &-question1,
      &-question2,
      &-question3 {
        > div {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}

.change-security-ques {
  &-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3.3rem 0 2rem 0;
  }
  .form-fields {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 39rem;
    justify-content: flex-start;
    align-items: flex-start;

    .input-fields {
      width: 48%;

      @include respond(tab-land) {
        width: 45%;
        padding-left: 1px;
      }
    }
  }
}
