@import '../../../../assets/styles/abstracts/variables';
@import '../../../../assets/styles/abstracts/mixins';

::ng-deep {
  .change-security-ques {
    .mat-mdc-form-field-infix {
      padding: 0 !important;
      min-height: 3.5rem;
      max-height: 4rem;
      font-family: $tertiary-font;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.9rem;
      color: $color-grey-dark;
    }

    .mat-mdc-form-field {
      width: 100%;
      &-subscript-wrapper {
        display: none;
      }
    }
    .input-fields {
      &-currentPassword > div {
        border-bottom: 1px solid $color-grey-border;
        padding-bottom: 6rem;
      }
      &-question1 > div {
        padding-top: 5rem;
      }
      &-question1,
      &-question2,
      &-question3 {
        > div {
          margin-bottom: 1.5rem;
        }
      }
      &-answer2 > div {
        margin-bottom: 3.3rem;
      }
    }
  }
}

.change-security-ques {
  &-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 3.3rem 0 2rem 0;
  }
  .form-fields {
    display: flex;
    flex-flow: column wrap;
    max-height: 39rem;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 3rem;

    .input-fields {
      width: 48%;
    }
  }
  &-success-message {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    .success-icon {
      color: $color-secondary;
      margin-right: 1rem;
    }
  }
}
