<form [formGroup]="form">
  <mat-radio-group
    [ngClass]="{
      'medication-form': formType === 'selectMedicationForm',
      'enrollment-form': formType !== 'enrollmentForm',
      'generic-form':
        formType !== 'enrollmentForm' && formType !== 'selectMedicationForm'
    }"
    [formControlName]="field.name"
    [disabled]="field.disabled ?? false">
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let option of field.options"
      [value]="option.value"
      color="primary">
      {{ option.label }}
    </mat-radio-button>
  </mat-radio-group>
</form>
