<form [formGroup]="form">
  <ul [ngClass]="field.class">
    <li
      class="checkbox"
      *ngFor="let option of field.options; let index = index">
      <mat-checkbox
        color="primary"
        [checked]="isSame(checked, option.value)"
        (change)="onChecked($event.checked, option.value, index)">
        <!-- <span *ngIf="option.validators?.required" class="error-or-required"
          >*</span
        > -->
        {{ option.label }}
        <div class="sub-label">
          {{ option.subLabel }}
        </div>
      </mat-checkbox>
      <ng-content></ng-content>
    </li>
  </ul>
</form>
