@import '../../../../../assets/styles/abstracts/mixins';
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  .checkbox {
    flex-basis: 25%;
    margin-bottom: 3rem;
    @include respond(tab-port) {
      flex-basis: 50%;
      margin-bottom: 0;
    }
  }
}

.align-labels {
  display: flex;
  align-items: center;
}
