<div class="patient-container">
  <div class="patient-header">
    <div class="title">
      <img
        src="../../../../assets/images/patient_icon.svg"
        alt="Patient Icon" />
      <figcaption class="text-large text-x-bold">My Patients</figcaption>
    </div>
    <div class="search-block">
      <app-custom-form
        inputPrefix="search"
        [form]="searchForm"
        [field]="searchField"
        (keyup)="
          !searchForm.value.search.length ? filterPatients() : {}
        "></app-custom-form>
      <app-custom-button
        btnText="Search"
        btnClass="secondary x-small"
        [isDisabled]="!(searchForm.value.search.length > 0)"
        (action)="filterPatients()"></app-custom-button>
    </div>
  </div>
  <app-custom-table
    [dataSource]="filteredCases"
    [columnSchema]="columnSchema"
    [displayedColumns]="displayedColumns"
    [pageSizeOptions]="pageSizeOptions"
    (action)="patientSelected($event)"></app-custom-table>
</div>
