<div class="patient-container">
  <div class="patient-header">
    <div class="title">
      <img
        src="../../../../assets/images/patient_icon.svg"
        alt="Patient Icon" />
      <figcaption>My Patients</figcaption>
    </div>
    <div class="search-block">
      <app-custom-form
        [form]="searchForm"
        [field]="searchField"
        inputPrefix="search"></app-custom-form>
      <app-custom-button
        btnText="Search"
        btnClass="secondary x-small"></app-custom-button>
    </div>
  </div>
  <app-custom-table
    [dataSource]="cases"
    [columnSchema]="columnSchema"
    [displayedColumns]="displayedColumns"
    [pageSizeOptions]="pageSizeOptions"
    (action)="patientSelected($event)"></app-custom-table>
</div>
