@import '../../../../assets/styles/abstracts/variables';
:host ::ng-deep .mat-mdc-table tbody {
  tr > td:first-child {
    font-weight: 700;
    text-decoration-line: underline;
  }
}
.patient-container {
  border: 0.2rem solid #dddddd;
  border-radius: 0.8rem;
  .patient-header {
    padding: 1rem 2rem 1rem 1rem;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    border-radius: 0.8rem 0.8rem 0 0;

    .title {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .search-block {
      display: flex;
      gap: 1rem;
    }
  }
}

:host ::ng-deep .search-block {
  .mat-mdc-text-field-wrapper {
    background-color: $color-table-odd-rows;
    color: $color-sub-header;
  }
}
