@import '../../../../assets/styles/abstracts/variables';
.patient-container {
  .patient-header {
    padding: 1rem 2rem 1rem 1rem;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    border-radius: 0.8rem 0.8rem 0 0;

    .title {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .search-block {
      display: flex;
      gap: 1rem;
    }
  }
}
