@import '../../../../../assets/styles/abstracts/variables';
@import '../../../../../assets/styles/abstracts/mixins';
button {
  color: $color-white;
  border-radius: 0.6rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}

button:disabled {
  background-color: $color-disabled;
  border: none;
}

.primary {
  background-color: $color-primary;
}
.secondary {
  background-color: $color-secondary;
}
.tertiary {
  background-color: $color-tertiary;
}
.disabled {
  background-color: $color-disabled;
}
.inactive {
  background-color: $color-header;
}

.xx-small {
  padding: 0.8rem 1rem;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 700;
}

.xm-small {
  padding: 0.8rem 1.7rem;
}

.light {
  background-color: $color-white;
  color: $color-header;
  border: $border-style;
}
.x-small {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  padding: 0.5rem 2rem;
}

.small {
  font-size: 1.6rem;
  line-height: 2.8rem;
  padding: 1.1rem 3rem;
}

.xl-small {
  padding: 0.8rem 2.2rem;
}

.register-user {
  padding: 1rem 2.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.7rem;
  text-align: center;
  color: $color-white;
}

.s-medium {
  padding: 1.7rem 2.2rem;
}

.medium {
  padding: 1.7rem 3.1rem;
  min-width: 15.1rem;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.1rem;
  text-align: center;
  color: $color-white;
}

.x-medium {
  padding: 1.6rem 4.6rem;
}

.large {
  color: $color-white;
  background-color: $color-tertiary;
  font-size: 2rem;
  line-height: 2.9rem;
  font-weight: 700;
  padding: 1.3rem 5.7rem;
  justify-items: center;
  border-radius: 0.6rem;
}

.x-large {
  padding: 0.8rem 8rem;
}

.login-form-btn {
  width: 100%;
  background-color: $color-tertiary;
  align-items: center;
  padding: 1.4rem;
  border: none;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 2.9rem;
  color: $color-white;
  border-radius: 1rem;
  justify-content: center;
}

.logout-form-btn {
  padding: 1.5rem 2.4rem;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 700;
  font-family: $primary-font;
  color: $color-white;
}

.search-patients {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.toggle-btn {
  &-1 {
    border-radius: 0.6rem 0 0 0.6rem;
    :hover {
      transform: scale(1);
    }
  }
  &-2 {
    border-radius: 0 0.6rem 0.6rem 0;
    transform: scale(1);
  }
}

.submit-enrollment-btn {
  font-family: $primary-font;
  @include respond(tab-port) {
    padding: 1.25rem;
    gap: 0;
  }
}

.btn-text {
  pointer-events: none;
}
