<div class="tools-container">
  <div class="header">
    <img src="../../../../assets/images/tools_forms_icon.svg" alt="" />
    <span class="text-large text-x-bold">Tools and Forms</span>
  </div>
  <div class="medicine" *ngFor="let tools of toolsAndFormsData">
    <h4>{{ tools.medicine }}</h4>
    <div class="tools">
      <section class="support-guide">
        <h5>ENROLLMENT FORM AND SUPPORT</h5>
        <ul class="forms-list">
          <li
            class="forms-item"
            (click)="
              showPdf('user_guide', 5, tools.medicine + '_User_Guide.pdf')
            ">
            Prescriber Portal User Guide
          </li>
          <li
            *ngIf="tools.medicine !== 'OJJAARA'"
            class="forms-item"
            (click)="
              showPdf(
                tools.enrollmentForm,
                2,
                'Patient-Referral-' + tools.medicine + '.pdf'
              )
            ">
            Enrollment Form
          </li>
        </ul>
      </section>
      <section *ngIf="tools.medicine !== 'OJJAARA'" class="product-info">
        <h5>PRODUCT INFORMATION</h5>
        <ul class="forms-list">
          <li
            class="forms-item"
            (click)="
              showPdf(
                tools.sampleLetterOfAppeal,
                1,
                tools.medicine + '_Sample_Letter_Of_Appeal.pdf'
              )
            ">
            Sample Letter of Appeal
          </li>
          <li
            class="forms-item"
            (click)="
              showPdf(
                tools.sampleLetterOfMedicalNecessity,
                1,
                tools.medicine + '_Sample_Letter_Of_Medical_Necessity.pdf'
              )
            ">
            Sample Letter of Medical Necessity
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
<div class="overlay" *ngIf="pdfSrc" (click)="closePdf()"></div>
<div class="pdf-viewer" *ngIf="pdfSrc">
  <div class="action-panel">
    <app-custom-button
      btnClass="x-small secondary"
      btnText="Download"
      (action)="downloadFile()"></app-custom-button>
    <app-custom-button
      btnClass="x-small tertiary"
      btnText="Close"
      (action)="closePdf()"></app-custom-button>
  </div>
  <ng2-pdfjs-viewer
    pagemode="none"
    [pdfSrc]="pdfSrc"
    [download]="false"
    [openFile]="false"
    [page]="1"
    style="">
    ></ng2-pdfjs-viewer
  >
</div>
