@import '../../../assets/styles/abstracts/_variables.scss';

.header {
  padding-right: 2.4rem;
  display: flex;
  justify-content: space-between;

  &-left {
    .htext {
      font-size: 2.8rem;
      font-family: $primary-font;
      &-top {
        color: $color-header;
        margin-bottom: 0.5rem;
      }
      &-bottom {
        color: $color-tertiary;
      }
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .htext {
      color: $color-tertiary;
      line-height: 3rem;
      padding-right: 2.6rem;
    }

    .user {
      padding: 0 2rem;
    }
    .logout {
      padding-right: 2rem;
    }
    .primary-contact {
      font-size: 2rem;
      font-family: $primary-font;
      font-weight: 700;
    }
    .secondary-contact {
      font-size: 1.2rem;
      font-family: $primary-font;
      font-weight: 700;
    }
    .office-timings {
      font-size: 1.4rem;
      color: $color-grey-dark;
      font-family: $primary-font;
      font-weight: 700;
    }
  }
  &-logo {
    height: 9.5rem;
    width: 16.5rem;
  }
}

.border-right {
  padding: 0 2rem;
  border-right: 2px solid $color-sub-header;
}
.border-left {
  padding: 0 2rem;
  border-left: 2px solid $color-sub-header;
}
