@import '../../../../assets/styles/abstracts/variables';
@import '../../../../assets/styles/abstracts/mixins';

.insurance-consent {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.document-container {
  background: $color-white;
  border: $border-style;
  border-radius: 0.8rem;

  .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    color: $color-primary;
    padding: 1.6rem 2.5rem;
    border-bottom: 5px solid $light-border-1;
  }
  .items {
    color: $color-grey-dark;
    padding: 0.4rem 2.5rem;
    background-color: $color-table-odd-rows;
    border-bottom: 1px solid $light-border-2;
    &:last-child {
      border-radius: 0 0 0.8rem 0.8rem;
    }
  }
}
.action-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 3rem;
}
.panel {
  display: flex;

  @include respond(tab-land) {
    flex-direction: column;
  }
}

.panel-50 {
  flex: 50%;
  @include respond(tab-land) {
    padding-left: 0;
    padding-right: 0;
  }
}

.panel-cont {
  padding-bottom: 2rem;
  @include respond(tab-land) {
    flex-direction: column;
  }
}

::ng-deep .priorAuth {
  display: flex;
  align-items: center;
  gap: 1rem;
  label {
    flex-basis: 53%;
  }
}

::ng-deep app-custom-datepicker {
  width: 45%;
}

::ng-deep .priorAuth label {
  font-size: 1.4rem;
  font-weight: 500;
  color: #5b5b5b;
}

::ng-deep .priorAuth-radio {
  display: flex;
  align-items: center;
  gap: 1rem;

  label {
    font-size: 1.4rem;
    font-weight: 500;
    color: #5b5b5b;
  }
}

::ng-deep .priorAuth .mdc-radio {
  padding: 0.2rem;
}
