<div class="patient-profile-container">
  <div class="patient-header bm-2">
    <div class="title">
      <img
        src="../../../../assets/images/patient_icon.svg"
        alt="Patient Icon" />
      <figcaption class="patient-heading">
        <span class="patient-name">{{ patientCases[0]?.PatientName }}</span>
        <span class="patient-id">
          (Patient Id: {{ patientCases[0]?.PatientId }})</span
        >
      </figcaption>
    </div>
    <div class="action-buttons">
      <app-custom-button
        btnText="&#60; Back"
        btnClass="secondary x-small"></app-custom-button>
      <app-custom-button
        btnText="Print"
        btnIcon="print_icon.svg"
        iconPlace="prefix"
        btnClass="secondary x-small"></app-custom-button>
    </div>
  </div>
  <div class="custom-expansion-content">
    <mat-accordion class="column-flex" multi>
      <!-- Patient Cases -->
      <app-custom-expansion-panel
        title="Patient Cases"
        [expanded]="true"
        [dataSource]="patientCasesDataSource"
        [columnSchema]="caseColumnSchema"
        [displayedColumns]="casesDisplayedColumns"
        [pageSizeOptions]="pageSizeOptions"
        [selected]="selectedCase"
        (action)="changeCases($event)">
        ></app-custom-expansion-panel
      >

      <!-- Patient Demographics -->
      <app-custom-expansion-panel
        title="Patient Demographics"
        [expanded]="true"
        [cardLeftPanel]="patientDemographics.caseDetails"
        [cardRightPanel]="patientDemographics.patientAddress"
        contentType="card"></app-custom-expansion-panel>

      <!-- Case Alerts -->
      <app-custom-expansion-panel
        title="Case Alerts"
        [expanded]="true"
        [dataSource]="alertDataSource"
        [columnSchema]="alertColumnSchema"
        [displayedColumns]="alertDisplayedColumns"
        [pageSizeOptions]="pageSizeOptions"></app-custom-expansion-panel>

      <!-- Case Documents -->
      <app-custom-expansion-panel
        title="Case Documents"
        [expanded]="true"
        [dataSource]="docDataSource"
        [columnSchema]="docColumnSchema"
        [displayedColumns]="docDisplayedColumns"
        [pageSizeOptions]="pageSizeOptions"
        [pdfSrc]="pdfSrc"
        (action)="openDoc($event)">
      </app-custom-expansion-panel>
    </mat-accordion>
  </div>
</div>
