@import '../../../../assets/styles/abstracts/variables';

.form-header {
  width: 100%;
  height: 10rem;
  padding: 0.6rem 3.4rem;
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .stepper {
    width: 72.3rem;
  }

  .prescriber {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    img {
      height: 6rem;
      width: 6rem;
    }
    &-name {
      font-weight: 700;
      font-size: 2rem;
      color: $color-primary;
    }
    &-list {
      border: $border-style-2;
      display: flex;
      padding: 1.2rem 2rem;
      align-items: center;
      gap: 1rem;
    }
  }
}
