<div class="form-header">
  <div class="primary-title">
    <span>{{ title }}</span>
  </div>
  <div class="stepper"></div>
  <div class="prescriber" *ngIf="selectPrescriberForm">
    <img
      src="../../../../assets/images/prescriber_icon.svg"
      alt="Prescriber Icon" />
    <div class="prescriber-list">
      <span class="prescriber-name">Select a Prescriber</span>
      <app-custom-form
        [field]="selectPrescriberField.controls[0]"
        [form]="selectPrescriberForm"
        formType="select-prescriber"></app-custom-form>
    </div>
  </div>
</div>
