@import '../../../../assets/styles/abstracts/variables';
.forgot-username-container {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 7rem 2rem 7rem;
  background-color: $color-white;
  border-radius: 8px;

  &-header {
    width: 100%;
    background-color: $color-tertiary;
    padding: 1.4rem 2rem;
    border-radius: 8px 8px 0px 0px;
    color: $color-white;
    font-size: 2.5rem;
    line-height: 2.9rem;
    font-weight: 700;
  }
  &-main {
    padding: 2.4rem 5.5rem;
    display: flex;
    flex-direction: column;

    .title-container {
      color: $color-black;
      &-header {
        font-size: 2.4rem;
        line-height: 2.8rem;
        font-weight: 700;
      }
      &-sub-header {
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 700;
      }
    }
    .form-fields {
      display: flex;
      width: 70vw;
      flex-wrap: wrap;
      gap: 5%;
      margin-bottom: 2rem;

      .input-fields {
        display: flex;
        flex-direction: column;
        width: 40%;

        &-label {
          font-size: 1.7rem;
          line-height: 2rem;
          font-weight: 700;
        }
      }
    }
    .submit-btn {
      width: max-content;
    }

    .success-text {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.3rem;
      color: $color-grey-dark;
      padding-top: 2rem;
    }

    .request-fail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
      padding-top: 2rem;

      .failed-request-text,
      .register-user {
        font-size: 2rem;
        line-height: 2.3rem;
        color: $color-grey-dark;
      }

      .register-user {
        font-weight: 400;
      }

      .failed-request-text {
        font-weight: 500;
      }
    }

    .submit-btn {
      margin-bottom: 2rem;
    }

    &-footer {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;
      align-items: flex-end;
      padding-top: 3rem;
    }
  }
}
.required-field {
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: $color-error;
}
