<br />
<div class="forgot-username-container">
  <div class="forgot-username-container-header">Forgot Username</div>
  <div class="forgot-username-container-main">
    <div class="common-text">
      <p class="common-text-header">Provide Your User Information</p>
      <p class="common-text-sub-header">
        Please provide the information you used to create your account below so
        that we can match you to our records.
      </p>
      <p class="required-field">
        <span class="asterick">* </span>Required field
      </p>
    </div>

    <div class="form-fields-div">
      <div class="input-fields" *ngFor="let control of formData?.controls">
        <app-custom-form
          [field]="control"
          [form]="forgotUsernameForm"
          formType="forgot-username"></app-custom-form>
      </div>
    </div>
    <app-custom-button
      class="submit-btn"
      btnText="Submit"
      [isDisabled]="forgotUsernameForm.invalid"
      btnClass="tertiary button-1"
      (click)="submitResetUsername()"></app-custom-button>

    <p class="success-text" *ngIf="apiSuccess && submitBtnClicked">
      Your username has been sent to the email provided.
    </p>
    <div class="failed-call" *ngIf="!apiSuccess && submitBtnClicked">
      <p class="failed-request-text">
        One or more pieces of information entered do not match our records.
        <br />
        Please try again or contact us at 1-844-447-5662 for additional
        assistance.
      </p>
      <p class="register-user">
        Alternatively, click on the Register button below if you do not have a
        current account.
      </p>
    </div>

    <div
      class="forgot-username-container-main-footer"
      [ngStyle]="{
        'padding-top': submitBtnClicked
          ? apiSuccess
            ? '7rem'
            : '2rem'
          : '11.3rem'
      }">
      <app-custom-button
        btnClass="button-1 secondary"
        btnText="< Back to Login"
        [isDisabled]="false"
        (click)="navigateToLogin()"></app-custom-button>
      <app-custom-button
        btnText="Register"
        btnClass="register-btn"
        *ngIf="!apiSuccess && submitBtnClicked">
      </app-custom-button>
    </div>
  </div>
</div>
<br />
