<!-- <br /> -->
<div class="forgot-username-container">
  <div class="forgot-username-container-header">Forgot Username</div>
  <div class="forgot-username-container-main">
    <div class="title-container">
      <p class="title-container-header">Provide Your User Information</p>
      <p class="title-container-sub-header">
        Please provide the information you used to create your account below so
        that we can match you to our records.
      </p>
      <p class="required-field"><span>* </span>Required field</p>
    </div>

    <div class="form-fields">
      <div class="input-fields" *ngFor="let control of formData?.controls">
        <app-custom-form
          [field]="control"
          [form]="forgotUsernameForm"
          formType="forgot-username"></app-custom-form>
      </div>
    </div>
    <app-custom-button
      class="submit-btn"
      btnText="Submit"
      [isDisabled]="forgotUsernameForm && forgotUsernameForm.invalid"
      btnClass="tertiary medium"
      (click)="submitResetUsername()"></app-custom-button>

    <p class="success-text text-med text-x-bold" *ngIf="resetSuccess">
      Your username has been sent to the email provided.
    </p>
    <div class="request-fail" *ngIf="!resetSuccess && submitBtnClicked">
      <p class="text-med text-medium">
        One or more pieces of information entered do not match our records.
        <br />
        Please try again or contact us at 1-844-447-5662 for additional
        assistance.
      </p>
      <span class="register-user text-med">
        Alternatively, click on the Register button below if you do not have a
        current account.
      </span>
    </div>

    <div
      class="forgot-username-container-main-footer"
      [ngStyle]="{
        'padding-top': submitBtnClicked
          ? resetSuccess
            ? '7rem'
            : '2rem'
          : '11.3rem'
      }">
      <app-custom-button
        btnClass="medium secondary"
        btnText="< Back to Login"
        (click)="navigateToLogin()"></app-custom-button>
      <app-custom-button
        btnText="Register"
        btnClass="large"
        *ngIf="!resetSuccess && submitBtnClicked">
      </app-custom-button>
    </div>
  </div>
</div>
<!-- <br /> -->
