<form [formGroup]="form">
  <div class="pres-info" [formGroupName]="field.name">
    <div class="strength">
      <div class="title">
        Strength/Form
        <span class="error-or-required" *ngIf="isStrengthRequired">*</span>
      </div>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_2].includes(medicineName)"
        class="value"
        disabled>
        <input type="text" [value]="zejulaStrength" disabled />
      </div>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_3].includes(medicineName)"
        class="value"
        disabled>
        <mat-radio-group
          [ngClass]="
            ojjaaraRadio.class === 'block-radio'
              ? 'block-radio-group'
              : formType
              ? formType + '-radio'
              : 'generic-form'
          "
          [formControlName]="'strength'"
          required>
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let option of ojjaaraRadio.options"
            [value]="option.value"
            color="primary">
            {{ option.label }}
          </mat-radio-button>
        </mat-radio-group>
        <mat-error
          *ngIf="
            form.get(field.name + '.strength')?.touched &&
            form.get(field.name + '.strength')?.errors
          ">
          {{
            sharedService.getErrorMessage(
              form.get(field.name + '.strength')?.errors,
              'Strength'
            )
          }}
        </mat-error>
      </div>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_1].includes(medicineName)"
        class="value">
        <div class="text-area">
          {{ jemperliStrength }}
        </div>
      </div>
    </div>
    <div
      class="dosage"
      *ngIf="
        [
          appConstants.MEDICINES.MEDICINE_2,
          appConstants.MEDICINES.MEDICINE_3
        ].includes(medicineName)
      ">
      <div class="title"></div>
      <div class="value">
        <div class="qty">
          <div class="title">
            Quantity
            <span class="error-or-required" *ngIf="isQtyRequired">*</span>
          </div>
          <div>
            <input type="number" [formControlName]="'qty'" />
            <mat-error
              *ngIf="
                form.get(field.name + '.qty')?.touched &&
                form.get(field.name + '.qty')?.errors
              ">
              {{
                sharedService.getErrorMessage(
                  form.get(field.name + '.qty')?.errors,
                  'Quantity'
                )
              }}
            </mat-error>
          </div>
        </div>
        <div class="refills">
          <div class="title">
            Refills
            <span class="error-or-required" *ngIf="isRefillsRequired">*</span>
          </div>
          <div>
            <input type="number" [formControlName]="'refills'" />
            <mat-error
              *ngIf="
                form.get(field.name + '.refills')?.touched &&
                form.get(field.name + '.refills')?.errors
              ">
              {{
                sharedService.getErrorMessage(
                  form.get(field.name + '.refills')?.errors,
                  'Refills'
                )
              }}
            </mat-error>
          </div>
        </div>
      </div>
    </div>
    <div class="doa">
      <div class="title">
        Directions for Administration
        <span class="error-or-required" *ngIf="isDoaRequired">*</span>
      </div>
      <div class="value">
        <div
          *ngIf="[appConstants.MEDICINES.MEDICINE_2].includes(medicineName)"
          class="doa-value">
          Take
          <input type="number" class="doa-input" [formControlName]="'doa'" />
          capsules by mouth, with or without food at the same time each day
          (preferably in the evening)
          <mat-error
            *ngIf="
              form.get(field.name + '.doa')?.touched &&
              form.get(field.name + '.doa')?.errors
            ">
            {{
              sharedService.getErrorMessage(
                form.get(field.name + '.doa')?.errors,
                'Directions for Administration'
              )
            }}
          </mat-error>
        </div>
        <div
          *ngIf="[appConstants.MEDICINES.MEDICINE_3].includes(medicineName)"
          class="value"
          disabled>
          <input type="text" class="text-input" [value]="ojjaaraDoa" disabled />
        </div>
        <div
          *ngIf="[appConstants.MEDICINES.MEDICINE_1].includes(medicineName)"
          class="text-area">
          {{ jemperliDoa }}
        </div>
      </div>
    </div>
  </div>
</form>
