<div class="registration-container">
  <div class="registration-header">
    <!-- <mat-stepper headerPosition="bottom" #stepper>
      <mat-step [stepControl]="test1()"> </mat-step>
      <mat-step [stepControl]="test2()" optional> </mat-step>
      <mat-step> </mat-step>
    </mat-stepper> -->
    <div class="title-and-stepper text-x-bold">
      <span>Create New Account</span>
    </div>
    <span class="info-text text-small text-x-bold">
      Please complete all fields below to create your account.
    </span>
  </div>
  <div class="account-type-selection" *ngIf="accountTypeSelection">
    <div class="main-container">
      <div class="title">
        <p class="text-xxl text-x-bold">Tell us more about you.</p>
        <p class="text-large text-x-bold">
          Which type of account would you like to create?
        </p>
      </div>
      <div class="selection-cards">
        <div class="img-label-group">
          <div
            (click)="toggleSelection()"
            [ngClass]="
              prescriberRegistrationCard ? 'selectedCard' : 'prescriber-img'
            ">
            <img
              src="../../../../assets/images/unselected-prescriber.svg"
              alt="unselected-prescriber-logo"
              *ngIf="!prescriberRegistrationCard" />
            <img
              src="../../../../assets/images/selected-prescriber.svg"
              alt="selected-prescriber-logo"
              *ngIf="prescriberRegistrationCard" />
          </div>
          <span class="img-label text-small text-x-bold">Provider</span>
        </div>

        <div class="img-label-group">
          <div
            (click)="toggleSelection()"
            [ngClass]="othersRegistrationCard ? 'selectedCard' : 'hcp-img'">
            <img
              src="../../../../assets/images/unselected-hcp.svg"
              alt="unselected-HCP-logo"
              *ngIf="!othersRegistrationCard" />
            <img
              src="../../../../assets/images/selected-hcp.svg"
              alt="selected-HCP-logo"
              *ngIf="othersRegistrationCard" />
          </div>
          <div class="img-label">
            <p class="text-small text-x-bold">Healthcare</p>
            <p class="text-small text-x-bold">Professional</p>
          </div>
        </div>
      </div>
    </div>

    <div class="registration-footer">
      <app-custom-button
        btnText="< Back to Login"
        btnClass="medium secondary"
        (click)="navigateToLogin()"></app-custom-button>
      <app-custom-button
        btnText="Next"
        btnClass="medium tertiary"
        (click)="registrationStep1()"></app-custom-button>
    </div>
  </div>

  <!-- Prescriber Screens starts here  -->
  <div class="prescriber-registration" *ngIf="prescriberRegistration">
    <div class="prescriber-registration-main">
      <div class="upper-forms">
        <div class="lookup-information">
          <p class="step-title text-x-bold text-large">
            Step 1: Lookup Information
          </p>
          <p class="step-sub-title text-medium text-xmed">
            Please look up your information from our provider registry to
            associate with this new account.
            <span class="error-or-required">* Required field</span>
          </p>
          <div class="lookup-form-fields">
            <div
              [class]="'input-fields-' + control.name"
              *ngFor="
                let control of lookupInformationFormData?.controls;
                let i = index
              ">
              <app-custom-form
                [field]="control"
                [form]="lookupInformationForm"
                formType="prescriber-lookup"></app-custom-form>
            </div>
            <app-custom-button
              btnText="Find"
              [isDisabled]="
                lookupInformationForm && lookupInformationForm.invalid
              "
              btnClass="secondary xx-small"
              (click)="checkProviderNpi()"></app-custom-button>
          </div>
        </div>
        <div class="confirm-account-information">
          <p class="step-title text-x-bold text-large">
            Step 2: Confirm Account Information
          </p>
          <div class="form-container">
            <p class="step-sub-title text-medium text-xmed">
              Please confirm and update your information for this new account.
              <span class="error-or-required">* Required field</span>
            </p>
            <div class="confirm-form-fields">
              <div
                class="confirm-input-fields"
                *ngFor="
                  let control of confirmAccountInformationFormData?.controls
                ">
                <app-custom-form
                  [field]="control"
                  [form]="confirmAccountInformationForm"
                  formType="prescriber-confirm-information"></app-custom-form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="create-username">
        <p class="step-title text-x-bold text-large">
          Step 3: Create Username and Password
        </p>
        <p class="step-sub-title text-medium text-xmed">
          Create a username and password to access your new online account.
          <span class="error-or-required">* Required field</span>
        </p>
        <div class="create-username-fields">
          <span class="text-med text-x-bold">Create Login</span>
          <div class="create-username-form-fields">
            <div
              class="create-form-input-fields"
              *ngFor="let control of createUsernameFormData?.controls">
              <app-custom-form
                [field]="control"
                [form]="createUsernameForm"
                formType="create-username-form"></app-custom-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="registration-footer">
      <app-custom-button
        btnText="< Back"
        btnClass="medium secondary"
        (click)="navigateToLogin()"></app-custom-button>
      <app-custom-button
        btnText="Next >"
        btnClass="medium tertiary"
        (click)="registrationStep2()"></app-custom-button>
    </div>
  </div>

  <!-- Others Screens Start here -->
  <div class="others-registration" *ngIf="othersRegistration">
    <div class="others-registration-main"></div>
    <div class="registration-footer">
      <app-custom-button
        btnText="< Back"
        btnClass="medium secondary"
        (click)="navigateToLogin()"></app-custom-button>
      <app-custom-button
        btnText="Next >"
        btnClass="medium tertiary"></app-custom-button>
    </div>
  </div>

  <app-custom-add-facility
    [title]="addFacilityScreenTitle"
    [subTitle]="addFacilityScreenSubTitle"
    requirementFor="prescriberRegistration"
    *ngIf="addFacilityScreen"></app-custom-add-facility>
</div>
