@import '../assets/styles/abstracts/variables.scss';

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  border-bottom: 0.8rem solid $color-header;
}

.footer {
  flex: 1 1 22%;
  border-top: 0.8rem solid $color-header;
}

.main {
  flex: 1 1 67%;
  background: linear-gradient(
    180deg,
    rgba(77, 105, 177, 0.45) 0%,
    rgba(130, 84, 158, 0.45) 100%
  );
}
