<div class="medication-container enroll-form">
  <span class="primary-title">Please select the medication.</span>

  <div class="medication-list tm-2" *ngIf="submitEnrolService.medicationForm">
    <app-custom-form
      [field]="submitEnrolService.medicationJson.controls[0]"
      [form]="submitEnrolService.medicationForm"
      formType="medication-form"></app-custom-form>
  </div>
</div>

<!-- TODO: optimize this -->
<div class="action-panel">
  <app-custom-button
    btnClass="small secondary"
    btnText="&#60; Back"
    (action)="onAction('back')"></app-custom-button>
  <app-custom-button
    btnClass="small tertiary"
    btnText="Next &#62;"
    (action)="onAction('next')"
    [isDisabled]="
      submitEnrolService.medicationForm.invalid
    "></app-custom-button>
</div>
