@import '../../../../assets/styles/abstracts/variables';

.medication-container {
  padding: 2.5rem 2.5rem 12rem;
  border: $border-style;
  background-color: $color-white;
  border-radius: 0.8rem;
}
.action-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20rem;
}
