@import '../../assets/styles/abstracts/variables';
.enrollment {
  display: flex;
  height: 100%;
  .sidenav {
    flex: 1 1 9%;
    @media print {
      display: none;
    }
  }

  .main {
    flex: 1 1 91%;
    overflow: auto;
    .action-panel {
      display: flex;
      align-items: center;
      background-color: $color-white;
      padding: 1.6rem 1.3rem 1.6rem 3.5rem;
      position: sticky;
      z-index: 1;
      top: 0;
      justify-content: space-between;

      .medicine-list,
      .form-button {
        display: flex;
        gap: 1rem;
        align-items: center;
        button {
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.8rem;
        }
      }

      @media print {
        display: none;
      }
    }

    .tab-content {
      padding: 2rem 3rem;
    }
    @media print {
      overflow: initial;
    }
  }
}
