<div class="enrollment">
  <div class="sidenav">
    <app-sidenav></app-sidenav>
  </div>
  <div class="main">
    <div class="action-panel">
      <div class="medicine-list">
        <app-custom-button
          [btnClass]="
            selectedMed === 'Jemperli' ? 'tertiary small' : 'inactive small'
          "
          btnText="JEMPERLI"
          (action)="changeMedicine('Jemperli')"></app-custom-button>
        <app-custom-button
          [btnClass]="
            selectedMed === 'Zejula' ? 'tertiary small' : 'inactive small'
          "
          btnText="ZEJULA"
          (action)="changeMedicine('Zejula')"></app-custom-button>
        <app-custom-button
          [btnClass]="
            selectedMed === 'Ojjaara' ? 'tertiary small' : 'inactive small'
          "
          btnText="OJJAARA"
          (action)="changeMedicine('Ojjaara')"></app-custom-button>
        <span class="text-xs text-x-bold">{{
          currentDate | date : 'MMM d, y'
        }}</span>
      </div>
    </div>
    <div class="tab-content" *ngIf="cases.length > 0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
