@import '../../../../assets/styles/abstracts/_variables.scss';
.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1.9rem 1.9rem 4.1rem 7.3rem;
  font-size: 1.2rem;
  line-height: 2.7rem;
  .footer-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &-logo {
      width: 11.1rem;
      height: 6.3rem;
    }
    &-links {
      > a {
        font-family: $secondary-font;
        font-weight: 700;
        color: $color-tertiary;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  .footer-info {
    padding-left: 1.92rem;
    text-align: left;
    font-family: $secondary-font;
    font-weight: 500;
    &-text {
      font-size: 1.2rem;
    }
    .footer-link {
      color: $color-tertiary;
      text-decoration: none;
    }
  }
}
