<div class="footer-container">
  <div class="footer-main">
    <img
      src="../../../assets/images/gsk_logo.svg"
      alt="GSK-logo"
      class="footer-main-logo" />
    <span class="footer-main-links"
      >Terms of Use | Privacy Policy | Contact Us</span
    >
  </div>
  <div class="footer-info">
    <span class="footer-info-text">
      To report SUSPECTED ADVERSE REACTIONS, contact GSK at 1-888-825-5249 or
      FDA at 1-800-FDA-1088 or <a class="footer-link"> www.fda.gov/medwatch</a>
      <br />
      This website is funded and developed by GSK @2022 GSK group of companies.
    </span>
  </div>
  <div class="footer-info">
    <span>
      This site is intended only for residents of the United States and US
      healthcare professionals only.
    </span>
  </div>
</div>
