<div class="enroll-form panel-cont">
  <div class="panel-big">
    <div class="primary-title flex toggle-panel">Clinical Information</div>
    <div class="error-or-required tm-1">* Required field</div>
    <div>
      <form [formGroup]="clinicalInfoForm">
        <div
          *ngIf="
            [
              appConstants.MEDICINES.MEDICINE_1,
              appConstants.MEDICINES.MEDICINE_2,
              appConstants.MEDICINES.MEDICINE_3
            ].includes(medicine)
          "
          class="form-group">
          <label
            >Patient First Name<span class="error-or-required">*</span></label
          >
          <div class="form-control-with-error">
            <input
              type="text"
              formControlName="patientFirstName"
              class="form-control"
              placeholder="Enter your First name" />

            <mat-error
              *ngIf="
                clinicalInfoForm.controls['patientFirstName'].touched &&
                clinicalInfoForm.get('patientFirstName')?.errors
              "
              class="error-message">
              {{
                sharedService.getErrorMessage(
                  clinicalInfoForm.get('patientFirstName')?.errors,
                  'Patient First Name'
                )
              }}
            </mat-error>
          </div>
        </div>
        <div
          *ngIf="
            [
              appConstants.MEDICINES.MEDICINE_2,
              appConstants.MEDICINES.MEDICINE_3,
              appConstants.MEDICINES.MEDICINE_1
            ].includes(medicine)
          "
          class="form-group">
          <label
            >Patient Last Name<span class="error-or-required">*</span></label
          >
          <div class="form-control-with-error">
            <input
              type="text"
              formControlName="patientLastName"
              class="form-control"
              placeholder="Enter your Last Name " />

            <mat-error
              *ngIf="
                clinicalInfoForm.controls['patientLastName'].touched &&
                clinicalInfoForm.get('patientLastName')?.errors
              "
              class="error-message">
              {{
                sharedService.getErrorMessage(
                  clinicalInfoForm.get('patientLastName')?.errors,
                  'Patient Last Name'
                )
              }}
            </mat-error>
          </div>
        </div>
        <div
          *ngIf="
            [
              appConstants.MEDICINES.MEDICINE_2,
              appConstants.MEDICINES.MEDICINE_3,
              appConstants.MEDICINES.MEDICINE_1
            ].includes(medicine)
          "
          class="form-group">
          <label>Date of Birth<span class="error-or-required">*</span></label>
          <div class="form-control-with-error">
            <app-custom-datepicker
              [form]="clinicalInfoForm"
              [field]="patientDateOfBirthField"></app-custom-datepicker>
          </div>
        </div>
        <div
          *ngIf="
            [
              appConstants.MEDICINES.MEDICINE_2,
              appConstants.MEDICINES.MEDICINE_3
            ].includes(medicine)
          "
          class="form-group">
          <label
            >Treatment Start Date<span *ngIf="false" class="error-or-required"
              >*</span
            ></label
          >
          <div class="form-control-with-error">
            <app-custom-datepicker
              [form]="clinicalInfoForm"
              [field]="treatmentStartDate"></app-custom-datepicker>
          </div>
        </div>
        <div
          *ngIf="
            [
              appConstants.MEDICINES.MEDICINE_2,
              appConstants.MEDICINES.MEDICINE_3
            ].includes(medicine)
          "
          class="form-group">
          <label
            >Primary Diagnosis<span class="error-or-required">*</span></label
          >
          <div class="form-control-with-error">
            <input
              type="text"
              formControlName="primaryDiagnosis"
              class="form-control"
              placeholder="Enter your Primary Diagnosis" />

            <mat-error
              *ngIf="
                clinicalInfoForm.controls['primaryDiagnosis'].touched &&
                clinicalInfoForm.get('primaryDiagnosis')?.errors
              "
              class="error-message">
              {{
                sharedService.getErrorMessage(
                  clinicalInfoForm.get('primaryDiagnosis')?.errors,
                  'Primary Diagnosis'
                )
              }}
            </mat-error>
          </div>
        </div>
        <div
          *ngIf="
            [
              appConstants.MEDICINES.MEDICINE_2,
              appConstants.MEDICINES.MEDICINE_3
            ].includes(medicine)
          "
          class="form-group">
          <label
            >Primary Diagnosis ICD-10 Code<span class="error-or-required"
              >*</span
            ></label
          >
          <div class="form-control-with-error">
            <input
              type="text"
              formControlName="primaryDiagnosisICD10Code"
              class="form-control"
              placeholder="Enter your Primary Diagnosis ICD-10 Code" />

            <mat-error
              *ngIf="
                clinicalInfoForm.controls['primaryDiagnosisICD10Code']
                  .touched &&
                clinicalInfoForm.get('primaryDiagnosisICD10Code')?.errors
              "
              class="error-message">
              {{
                sharedService.getErrorMessage(
                  clinicalInfoForm.get('primaryDiagnosisICD10Code')?.errors,
                  'Primary Diagnosis ICD-10 Code'
                )
              }}
            </mat-error>
          </div>
        </div>
        <div
          *ngIf="[appConstants.MEDICINES.MEDICINE_1].includes(medicine)"
          class="form-group">
          <label
            >Diagnosis ICD-10 Code<span class="error-or-required"
              >*</span
            ></label
          >
          <div class="form-radio-group">
            <div
              *ngIf="
                [
                  appConstants.MEDICINES.MEDICINE_2,
                  appConstants.MEDICINES.MEDICINE_3,
                  appConstants.MEDICINES.MEDICINE_1
                ].includes(medicine)
              "
              class="form-radio">
              <input
                type="radio"
                formControlName="diagnosisICD10Code"
                class="form-radio-input"
                value="C54.1-Malignant neoplasm of endometrium" />
              <label class="form-radio-label"
                >C54.1-Malignant neoplasm of endometriume</label
              >
            </div>
            <div
              *ngIf="
                [
                  appConstants.MEDICINES.MEDICINE_2,
                  appConstants.MEDICINES.MEDICINE_3,
                  appConstants.MEDICINES.MEDICINE_1
                ].includes(medicine)
              "
              class="form-radio">
              <input
                type="radio"
                formControlName="diagnosisICD10Code"
                class="form-radio-input"
                value="Other" />
              <label class="form-radio-label label-with-input">Other </label>
              <div class="form-control-with-error">
                <input
                  type="text"
                  formControlName="otherICD10Code"
                  class="form-control"
                  [required]="
                    clinicalInfoForm.get('diagnosisICD10Code')?.value ===
                    'Other'
                  "
                  placeholder="" />

                <mat-error
                  *ngIf="
                    clinicalInfoForm.controls['otherICD10Code'].touched &&
                    clinicalInfoForm.get('otherICD10Code')?.errors
                  "
                  class="error-message">
                  {{
                    sharedService.getErrorMessage(
                      clinicalInfoForm.get('otherICD10Code')?.errors,
                      'Other ICD-10 Code'
                    )
                  }}
                </mat-error>
              </div>
            </div>
          </div>
        </div>

        <div
          *ngIf="[appConstants.MEDICINES.MEDICINE_1].includes(medicine)"
          class="form-group">
          <label
            >Mismatch repair status (MMR)<span class="error-or-required"
              >*</span
            ></label
          >
          <div class="form-checkbox-group">
            <div class="form-check">
              <input
                type="checkbox"
                (change)="
                  onCheckChange({
                    ev: $event,
                    form: clinicalInfoForm,
                    formArrName: 'mismatchrepairstatusMMR'
                  })
                "
                [checked]="
                  clinicalInfoForm
                    .get('mismatchrepairstatusMMR')
                    ?.value?.includes('Mismatch repair deficient (dMMR)')
                "
                class="form-check-input"
                value="Mismatch repair deficient (dMMR)" />
              <div>
                <label class="form-check-label"
                  >Mismatch repair deficient (dMMR)
                </label>
              </div>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                (change)="
                  onCheckChange({
                    ev: $event,
                    form: clinicalInfoForm,
                    formArrName: 'mismatchrepairstatusMMR'
                  })
                "
                [checked]="
                  clinicalInfoForm
                    .get('mismatchrepairstatusMMR')
                    ?.value?.includes('Mismatch repair proficient (MMRp)')
                "
                class="form-check-input"
                value="Mismatch repair proficient (MMRp)" />
              <div>
                <label class="form-check-label"
                  >Mismatch repair proficient (MMRp)
                </label>
              </div>
            </div>

            <mat-error
              *ngIf="
                clinicalInfoForm.controls['mismatchrepairstatusMMR'].touched
              "
              class="error-message">
              {{
                sharedService.getErrorMessage(
                  clinicalInfoForm.get('mismatchrepairstatusMMR')?.errors,
                  'Mismatch repair status (MMR)'
                )
              }}
            </mat-error>
          </div>
        </div>
        <div
          *ngIf="[appConstants.MEDICINES.MEDICINE_1].includes(medicine)"
          class="form-group">
          <label
            >Endometrial cancer prior therapies
            <span class="error-or-required">*</span></label
          >
          <div class="form-checkbox-group">
            <div class="form-check">
              <input
                type="checkbox"
                (change)="
                  onCheckChange({
                    ev: $event,
                    form: clinicalInfoForm,
                    formArrName: 'endometrialCancerPriortherapies'
                  })
                "
                [checked]="
                  clinicalInfoForm
                    .get('endometrialCancerPriortherapies')
                    ?.value?.includes(
                      'Treatment with platinum containing regimen'
                    )
                "
                class="form-check-input"
                value="Treatment with platinum containing regimen" />
              <div>
                <label class="form-check-label"
                  >Treatment with platinum containing regimen
                </label>
              </div>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                (change)="
                  onCheckChange({
                    ev: $event,
                    form: clinicalInfoForm,
                    formArrName: 'endometrialCancerPriortherapies'
                  })
                "
                [checked]="
                  clinicalInfoForm
                    .get('endometrialCancerPriortherapies')
                    ?.value?.includes('Other')
                "
                class="form-check-input"
                value="Other" />
              <div><label class="form-check-label">Other </label></div>
            </div>
            <mat-error
              *ngIf="
                clinicalInfoForm.controls['endometrialCancerPriortherapies']
                  .touched
              "
              class="error-message">
              {{
                sharedService.getErrorMessage(
                  clinicalInfoForm.get('endometrialCancerPriortherapies')
                    ?.errors,
                  'Endometrial cancer prior therapies'
                )
              }}
            </mat-error>
          </div>
        </div>
        <div
          *ngIf="
            [
              appConstants.MEDICINES.MEDICINE_2,
              appConstants.MEDICINES.MEDICINE_3
            ].includes(medicine)
          "
          class="form-group">
          <label
            >Secondary Diagnosis<span *ngIf="false" class="error-or-required"
              >*</span
            ></label
          >
          <div class="form-control-with-error">
            <input
              type="text"
              formControlName="secondaryDiagnosis"
              class="form-control"
              placeholder="Enter your Secondary Diagnosis" />
          </div>
        </div>
        <div
          *ngIf="
            [
              appConstants.MEDICINES.MEDICINE_2,
              appConstants.MEDICINES.MEDICINE_3
            ].includes(medicine)
          "
          class="form-group">
          <label
            >Secondary Diagnosis ICD-10 Code<span
              *ngIf="false"
              class="error-or-required"
              >*</span
            ></label
          >
          <div class="form-control-with-error">
            <input
              type="text"
              formControlName="secondaryDiagnosisICD10Code"
              class="form-control"
              placeholder="Enter your Secondary Diagnosis ICD-10 Code" />
          </div>
        </div>
      </form>
    </div>
    <div
      *ngIf="
        [
          appConstants.MEDICINES.MEDICINE_2,
          appConstants.MEDICINES.MEDICINE_3
        ].includes(medicine)
      "
      class="primary-title flex toggle-panel tm-1 bm-1">
      Current Line Of Therapy
    </div>
    <form [formGroup]="currentLineOfTherapyForm">
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_2].includes(medicine)"
        class="form-group row-radio">
        <div class="form-radio-group row-radio-group">
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="currentLineOfTherapy"
              class="form-radio-input"
              value="1st line" />
            <label class="form-radio-label">1st line</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="currentLineOfTherapy"
              class="form-radio-input"
              value="2nd line" />
            <label class="form-radio-label">2nd line</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="currentLineOfTherapy"
              class="form-radio-input"
              value="3rd line" />
            <label class="form-radio-label">3rd line</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="currentLineOfTherapy"
              class="form-radio-input"
              value="4th line" />
            <label class="form-radio-label">4th line</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="currentLineOfTherapy"
              class="form-radio-input"
              value="4th line+" />
            <label class="form-radio-label">4th line+</label>
          </div>
        </div>
      </div>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_2].includes(medicine)"
        class="form-group row-radio">
        <label
          >BRCA Test<span *ngIf="false" class="error-or-required"
            >*</span
          ></label
        >
        <div class="form-radio-group row-radio-group">
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="bRCATest"
              class="form-radio-input"
              value="Positive" />
            <label class="form-radio-label">Positive</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="bRCATest"
              class="form-radio-input"
              value="Negative" />
            <label class="form-radio-label">Negative</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="bRCATest"
              class="form-radio-input"
              value="Results Pending" />
            <label class="form-radio-label">Results Pending</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="bRCATest"
              class="form-radio-input"
              value="No Test" />
            <label class="form-radio-label">No Test</label>
          </div>
        </div>
      </div>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_2].includes(medicine)"
        class="form-group row-radio">
        <label
          >HRD Test<span *ngIf="false" class="error-or-required">*</span></label
        >
        <div class="form-radio-group row-radio-group">
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="hRDTest"
              class="form-radio-input"
              value="Positive" />
            <label class="form-radio-label">Positive</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="hRDTest"
              class="form-radio-input"
              value="Negative" />
            <label class="form-radio-label">Negative</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="hRDTest"
              class="form-radio-input"
              value="Results Pending" />
            <label class="form-radio-label">Results Pending</label>
          </div>
          <div
            *ngIf="
              [
                appConstants.MEDICINES.MEDICINE_2,
                appConstants.MEDICINES.MEDICINE_3,
                appConstants.MEDICINES.MEDICINE_1
              ].includes(medicine)
            "
            class="form-radio">
            <input
              type="radio"
              formControlName="hRDTest"
              class="form-radio-input"
              value="No Test" />
            <label class="form-radio-label">No Test</label>
          </div>
        </div>
      </div>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_3].includes(medicine)"
        class="form-group">
        <label
          >Previous Therapies<span *ngIf="false" class="error-or-required"
            >*</span
          ></label
        >
        <div class="form-control-with-error">
          <input
            type="text"
            formControlName="previousTherapies"
            class="form-control"
            placeholder="Enter your Previous Therapies " />
        </div>
      </div>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_3].includes(medicine)"
        class="form-group">
        <label
          >Latest Hemoglobin (g/dL)<span *ngIf="false" class="error-or-required"
            >*</span
          ></label
        >
        <div class="form-control-with-error">
          <input
            type="text"
            formControlName="latestHemoglobin"
            class="form-control"
            placeholder="Enter your Latest Hemoglobin " />
        </div>
      </div>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_3].includes(medicine)"
        class="form-group">
        <label
          >Date of Last Transfusion<span *ngIf="false" class="error-or-required"
            >*</span
          ></label
        >
        <div class="form-control-with-error">
          <app-custom-datepicker
            [form]="currentLineOfTherapyForm"
            [field]="dateOfLastTransfusion">
          </app-custom-datepicker>
        </div>
      </div>
      <div
        *ngIf="
          [
            appConstants.MEDICINES.MEDICINE_2,
            appConstants.MEDICINES.MEDICINE_3
          ].includes(medicine)
        "
        class="form-group">
        <label
          >Known Drug Allergies<span *ngIf="false" class="error-or-required"
            >*</span
          ></label
        >
        <div class="form-control-with-error">
          <input
            type="text"
            formControlName="knownDrugAllergies"
            class="form-control"
            placeholder="Enter your Known Drug Allergies" />
        </div>
      </div>
      <label><span *ngIf="false" class="error-or-required">*</span></label>
      <div
        *ngIf="
          [
            appConstants.MEDICINES.MEDICINE_2,
            appConstants.MEDICINES.MEDICINE_3
          ].includes(medicine)
        "
        class="form-group">
        <label
          >Notes<span *ngIf="false" class="error-or-required">*</span></label
        >
        <textarea
          formControlName="notes"
          class="form-control"
          placeholder="Enter your Notes">
        </textarea>
      </div>
    </form>
  </div>

  <mat-divider vertical></mat-divider>

  <div class="panel-big">
    <ng-container
      *ngIf="
        [
          appConstants.MEDICINES.MEDICINE_2,
          appConstants.MEDICINES.MEDICINE_3
        ].includes(medicine)
      ">
      <div class="primary-title flex toggle-panel">
        Prescription Information
      </div>
      <div class="error-or-required tm-1">
        * Atleast one medication is required
      </div>
    </ng-container>

    <form [formGroup]="prescriptionInfoForm">
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_2].includes(medicine)"
        class="form-group">
        <div class="form-checkbox-group no-label">
          <div class="form-check">
            <input
              type="checkbox"
              (change)="
                onCheckChange({
                  ev: $event,
                  form: prescriptionInfoForm,
                  formArrName: 'zejStd'
                })
              "
              [checked]="
                prescriptionInfoForm.get('zejStd')?.value?.includes('zejStd')
              "
              class="form-check-input"
              value="zejStd" />
            <div>
              <label class="form-check-label large-bold"
                >ZEJULA: Standard Prescription
                <span *ngIf="false" class="error-or-required">*</span></label
              >
            </div>
          </div>
        </div>
      </div>
      <app-custom-prescription
        *ngIf="
          [appConstants.MEDICINES.MEDICINE_2].includes(medicine) &&
          prescriptionInfoForm?.get('zejStd')?.value?.length! > 0
        "
        [form]="prescriptionInfoForm"
        [field]="{
          name: 'zejStdPres'
        }"></app-custom-prescription>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_2].includes(medicine)"
        class="form-group">
        <div class="form-checkbox-group no-label">
          <div class="form-check">
            <input
              type="checkbox"
              (change)="
                onCheckChange({
                  ev: $event,
                  form: prescriptionInfoForm,
                  formArrName: 'zejQSP'
                })
              "
              [checked]="
                prescriptionInfoForm.get('zejQSP')?.value?.includes('zejQSP')
              "
              class="form-check-input"
              value="zejQSP" />
            <div>
              <label class="form-check-label large-bold"
                >ZEJULA: Quick Start Program
                <span *ngIf="false" class="error-or-required">*</span></label
              >
              <div class="subLabel">
                For patients experiencing a delay in coverage at first dispense
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-custom-prescription
        *ngIf="
          [appConstants.MEDICINES.MEDICINE_2].includes(medicine) &&
          prescriptionInfoForm?.get('zejQSP')?.value?.length! > 0
        "
        [form]="prescriptionInfoForm"
        [field]="{
          name: 'zejQSPPres'
        }"></app-custom-prescription>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_2].includes(medicine)"
        class="form-group">
        <div class="form-checkbox-group no-label">
          <div class="form-check">
            <input
              type="checkbox"
              (change)="
                onCheckChange({
                  ev: $event,
                  form: prescriptionInfoForm,
                  formArrName: 'zejBridge'
                })
              "
              [checked]="
                prescriptionInfoForm
                  .get('zejBridge')
                  ?.value?.includes('zejBridge')
              "
              class="form-check-input"
              value="zejBridge" />
            <div>
              <label class="form-check-label large-bold"
                >ZEJULA: Bridge Program
                <span *ngIf="false" class="error-or-required">*</span></label
              >
              <div class="subLabel">
                For patients experiencing coverage interruptions while already
                on treatment
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-custom-prescription
        *ngIf="
          [appConstants.MEDICINES.MEDICINE_2].includes(medicine) &&
          prescriptionInfoForm?.get('zejBridge')?.value?.length! > 0
        "
        [form]="prescriptionInfoForm"
        [field]="{
          name: 'zejBridgePres'
        }"></app-custom-prescription>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_3].includes(medicine)"
        class="form-group">
        <div class="form-checkbox-group no-label">
          <div class="form-check">
            <input
              type="checkbox"
              (change)="
                onCheckChange({
                  ev: $event,
                  form: prescriptionInfoForm,
                  formArrName: 'ojjaaraStd'
                })
              "
              [checked]="
                prescriptionInfoForm
                  .get('ojjaaraStd')
                  ?.value?.includes('ojjaaraStd')
              "
              class="form-check-input"
              value="ojjaaraStd" />
            <div>
              <label class="form-check-label large-bold"
                >OJJAARA: Standard Prescription
                <span *ngIf="false" class="error-or-required">*</span></label
              >
            </div>
          </div>
        </div>
      </div>
      <app-custom-prescription
        *ngIf="
          [appConstants.MEDICINES.MEDICINE_3].includes(medicine) &&
          prescriptionInfoForm?.get('ojjaaraStd')?.value?.length! > 0
        "
        [form]="prescriptionInfoForm"
        [field]="{
          name: 'ojjaaraStdPres'
        }"></app-custom-prescription>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_3].includes(medicine)"
        class="form-group">
        <div class="form-checkbox-group no-label">
          <div class="form-check">
            <input
              type="checkbox"
              (change)="
                onCheckChange({
                  ev: $event,
                  form: prescriptionInfoForm,
                  formArrName: 'ojjaaraQSP'
                })
              "
              [checked]="
                prescriptionInfoForm
                  .get('ojjaaraQSP')
                  ?.value?.includes('ojjaaraQSP')
              "
              class="form-check-input"
              value="ojjaaraQSP" />
            <div>
              <label class="form-check-label large-bold"
                >OJJAARA: Quick Start Program
                <span *ngIf="false" class="error-or-required">*</span></label
              >
              <div class="subLabel">
                For patients experiencing a delay in coverage at first dispense
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-custom-prescription
        *ngIf="
          [appConstants.MEDICINES.MEDICINE_3].includes(medicine) &&
          prescriptionInfoForm?.get('ojjaaraQSP')?.value?.length! > 0
        "
        [form]="prescriptionInfoForm"
        [field]="{
          name: 'ojjaaraQSPPres'
        }"></app-custom-prescription>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_3].includes(medicine)"
        class="form-group">
        <div class="form-checkbox-group no-label">
          <div class="form-check">
            <input
              type="checkbox"
              (change)="
                onCheckChange({
                  ev: $event,
                  form: prescriptionInfoForm,
                  formArrName: 'ojjaaraBridge'
                })
              "
              [checked]="
                prescriptionInfoForm
                  .get('ojjaaraBridge')
                  ?.value?.includes('ojjaaraBridge')
              "
              class="form-check-input"
              value="ojjaaraBridge" />
            <div>
              <label class="form-check-label large-bold"
                >OJJAARA: Bridge Program
                <span *ngIf="false" class="error-or-required">*</span></label
              >
              <div class="subLabel">
                For patients experiencing coverage interruptions while already
                on treatment
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-custom-prescription
        *ngIf="
          [appConstants.MEDICINES.MEDICINE_3].includes(medicine) &&
          prescriptionInfoForm?.get('ojjaaraBridge')?.value?.length! > 0
        "
        [form]="prescriptionInfoForm"
        [field]="{
          name: 'ojjaaraBridgePres'
        }"></app-custom-prescription>
      <div
        *ngIf="[appConstants.MEDICINES.MEDICINE_1].includes(medicine)"
        class="form-group">
        <div class="form-checkbox-group no-label">
          <div class="form-check">
            <input
              type="checkbox"
              (change)="
                onCheckChange({
                  ev: $event,
                  form: prescriptionInfoForm,
                  formArrName: 'jemperliIV'
                })
              "
              [checked]="
                prescriptionInfoForm
                  .get('jemperliIV')
                  ?.value?.includes('JemperliIV')
              "
              class="form-check-input"
              value="JemperliIV" />
            <div>
              <label class="form-check-label large-bold"
                >JEMPERLI IV <span class="error-or-required">*</span></label
              >
            </div>
          </div>
        </div>
      </div>
      <app-custom-prescription
        *ngIf="
          [appConstants.MEDICINES.MEDICINE_1].includes(medicine) &&
          prescriptionInfoForm?.get('jemperliIV')?.value?.length! > 0
        "
        [form]="prescriptionInfoForm"
        [field]="{
          name: 'jemperliIVPres'
        }"></app-custom-prescription>
      <div
        *ngIf="
          [
            appConstants.MEDICINES.MEDICINE_2,
            appConstants.MEDICINES.MEDICINE_3
          ].includes(medicine)
        "
        class="form-group">
        <label
          >Prescription Signature<span class="error-or-required">*</span></label
        >

        <app-custom-select
          [form]="prescriptionInfoForm"
          [field]="presSignatureSelectField"></app-custom-select>
      </div>
    </form>

    <div>
      <div
        *ngIf="
          [
            appConstants.MEDICINES.MEDICINE_2,
            appConstants.MEDICINES.MEDICINE_3
          ].includes(medicine)
        "
        class="bg enrollment-form">
        <div class="note-text tm-1">
          <strong>Note: </strong> Signature will be obtained during the next
          step.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="action-panel">
  <app-custom-button
    btnClass="small secondary"
    btnText="&#60; Back"
    (action)="onAction('back')"></app-custom-button>
  <app-custom-button
    btnClass="small tertiary"
    btnText="Next &#62;"
    [isDisabled]="
      false &&
      prescriptionInfoForm.invalid &&
      clinicalInfoForm.invalid &&
      currentLineOfTherapyForm.invalid
    "
    (action)="onAction('next')"></app-custom-button>
</div>
