@import '../../../../assets/styles/abstracts/variables';

.attestaion-container {
  padding: 2.5rem 2.5rem 12rem;
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.action-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 6rem;
}

:host ::ng-deep {
  app-custom-select,
  app-custom-input {
    flex-basis: 60%;
  }
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

::ng-deep .links {
  color: $color-tertiary;
}
