<!-- <label class="custom-input-label">{{ inputControl.label }}</label> -->
<form [formGroup]="form">
  <mat-form-field>
    <span matPrefix *ngIf="inputPrefix"><mat-icon>search</mat-icon></span>
    <input
      matInput
      [ngClass]="{ 'common-form-input': formType !== 'login' }"
      class="form-field-input"
      floatLabel="false"
      [formControlName]="field.name"
      [type]="field.type"
      [placeholder]="field.placeholder" />
  </mat-form-field>
  <app-custom-error
    *ngIf="this.form.controls[this.field.name].touched"
    [form]="form"
    [field]="field"
    [errors]="this.form.get(field.name)?.errors"></app-custom-error>
</form>
