<!-- <label class="custom-input-label">{{ inputControl.label }}</label> -->
<form [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      [ngClass]="{ 'common-btn': formType !== 'login' }"
      class="form-field-input"
      floatLabel="false"
      [formControlName]="field.name"
      [type]="field.type"
      [placeholder]="field.placeholder" />
    <mat-error>
      {{ field.reqErrorMsg }}
    </mat-error>
    <mat-error>{{ field.validityErrorMsg }} </mat-error>
  </mat-form-field>
</form>
