<div class="custom-table">
  <div class="pdf-viewer" *ngIf="pdfSrc">
    <ng2-pdfjs-viewer
      pagemode="none"
      [pdfSrc]="pdfSrc"
      [download]="false"
      [openFile]="false"
      [page]="1"
      style="width: 100%; height: 50rem"></ng2-pdfjs-viewer>
  </div>
  <div class="custom-table-wrapper">
    <table
      *ngIf="columnSchema.length > 0 && dataSource.data.length > 0"
      class="mat-elevation-z8"
      mat-table
      matSort
      matSortDirection="desc"
      [dataSource]="dataSource"
      [matSortActive]="columnSchema[0].key"
      (matSortChange)="announceSortChange($event)">
      <ng-container
        *ngFor="let column of columnSchema"
        [matColumnDef]="column.key">
        <th
          *matHeaderCellDef
          class="text-small text-x-bold"
          mat-header-cell
          mat-sort-header
          sortActionDescription="{{ 'Sort by ' + column.label }}">
          {{ column.label }}
        </th>
        <td
          mat-cell
          *matCellDef="let element; let i = index"
          (click)="onAction(element)">
          <app-custom-button
            *ngIf="column.key === buttonName; else else_block"
            btnClass="secondary x-small"
            [btnText]="buttonName"
            [isDisabled]="
              authService.user && authService.user.role?.RolePkId !== 3
            "
            (action)="btnClicked(element)">
          </app-custom-button>
          <ng-template #else_block>
            {{ element[column.key] }}
          </ng-template>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        [ngClass]="{ 'mat-header-blue': showBlueHeader }"></tr>
      <tr
        *matRowDef="
          let row;
          columns: displayedColumns;
          let selectedRowIndex = index
        "
        [ngClass]="{
          'mat-table-row-selected': checkSelected(selectedRowIndex, row)
        }"
        mat-row
        (click)="onRowClicked(row)"></tr>
    </table>
  </div>

  <mat-paginator
    class="custom-table-paginator"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>
