@import '../../assets/styles/abstracts/variables';

::ng-deep .profile-container {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 7rem 2rem 7rem;
  .mat-mdc-tab-group {
    .mat-mdc-tab-labels {
      gap: 3rem;
      padding: 0 4.3rem;
      border-radius: 0px 0px 8px 8px;
    }
    .mat-mdc-tab-header {
      .mat-mdc-tab {
        font-family: $primary-font;
        background-color: $color-header;
        color: $color-white;
        border-radius: 8px 8px 0 0;
        font-size: 2.4rem;
      }
      .mdc-tab--active {
        background-color: $color-tertiary;
      }
    }
    .mat-mdc-tab-body-wrapper {
      background-color: $color-white;
      padding: 2.4rem 5.5rem;
      border: 1px solid $color-border-1;
      border-radius: 8px;
    }
    span.mdc-tab__text-label {
      color: $color-white !important;
    }
  }
}
