:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
:host ::ng-deep 
// .custom-datepicker
{
  .mdc-line-ripple {
    &::before {
      display: none;
    }
  }
  .mat-mdc-form-field-flex {
    max-height: 35px;
  }

  .mat-mdc-text-field-wrapper {
    background-color: unset;
    border: 1px solid #adadad;
    border-radius: 4px;
  }

  &-field {
    // background: red;
    // .mat-mdc-text-field-wrapper {
    //     padding-left: 0px;
    // }
  }
  &-input {
    // background: green;
  }
  &-toggle {
    // background: yellow;
  }
}
