<form [formGroup]="form">
  <mat-form-field class="custom-datepicker-field">
    <input
      matInput
      class="custom-datepicker-input"
      placeholder="mm/dd/yyyy"
      [min]="field.minDate"
      [max]="field.maxDate"
      [matDatepicker]="fieldId"
      [formControlName]="field.name"
      [disabled]="field.disabled ?? false" />
    <mat-datepicker-toggle
      matIconSuffix
      class="custom-datepicker-toggle"
      [for]="fieldId">
      <mat-icon matDatepickerToggleIcon>
        <img src="../../../../../assets/images/calendar.svg" alt="cal" />
      </mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #fieldId></mat-datepicker>
  </mat-form-field>
  <app-custom-error
    *ngIf="form.controls[field.name].touched"
    [form]="form"
    [field]="field"
    [errors]="form.get(field.name)?.errors"></app-custom-error>
</form>
