.form-field-tertiary {
  width: 100%;
  // height: 4rem;
  .form-field-input {
    height: 4rem;
  }
}
.form-field-secondary {
  width: 100%;
  height: 3.2rem;
}

.form-field-primary {
  width: 100%;
  height: 2.6rem;
}
