@import '../../../../assets/styles/abstracts/mixins';
.service-list {
  display: flex;
  flex-wrap: wrap;
  & > div {
    width: 25%;
    @include respond(tab-port) {
      flex-basis: 50%;
    }
  }
  app-custom-form {
  }
}

.right-padded {
  width: 85%;
  @include respond(tab-land) {
    width: 100%;
  }
}

.action-panel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
}
