<div class="enroll-form">
  <div>
    <span class="primary-title">Types of Services</span>
    <div class="text-xmed tm-1 text-x-bold">
      Please check all boxes that apply.
      <span *ngIf="selectedMedication !== 'Jemperli'"
        >(At least one must be selected)</span
      >
    </div>
    <div
      *ngIf="submitEnrolService.servicesForm"
      [ngClass]="selectedMedication === 'Jemperli' ? 'right-padded' : ''"
      class="service-list">
      <div
        *ngFor="let control of submitEnrolService.filteredServices.controls"
        class="tm-3">
        <app-custom-form
          [field]="control"
          [form]="submitEnrolService.servicesForm"
          [checked]="
            submitEnrolService.enrollmentFormPayload.EnrollmentServiceRequests
          "></app-custom-form>
      </div>
    </div>
  </div>
  <div class="tm-2" *ngIf="selectedMedication !== 'Jemperli'">
    <span class="primary-title">Preferred Specialty Pharmacy</span>
    <div class="text-small tm-1 text-medium">
      Preferred Specialty Pharmacy selection will be honored if permitted by
      patient’s insurance plan.
    </div>
    <div class="medication-list tm-2" *ngIf="submitEnrolService.servicesForm">
      <app-custom-form
        [field]="submitEnrolService.filteredPharmacies.controls[0]"
        [form]="submitEnrolService.specialityPharmacyForm"></app-custom-form>
    </div>
  </div>
</div>
<div class="action-panel">
  <app-custom-button
    btnClass="small secondary"
    btnText="&#60; Back"
    (action)="onAction('back')"></app-custom-button>
  <app-custom-button
    btnClass="small tertiary"
    btnText="Next &#62;"
    (action)="onAction('next')"
    [isDisabled]="checkFormValidity()"></app-custom-button>
</div>
