<form
  [formGroup]="form"
  [ngClass]="{ 'prescriber-select': formType === 'select-prescriber' }">
  <mat-form-field appearance="outline" class="custom-select">
    <mat-select
      (selectionChange)="selectionChanged($event)"
      [formControlName]="field.name"
      [disabled]="field.disabled ?? false">
      <mat-option value="" disabled>{{
        field.placeholder ? field.placeholder : 'Select'
      }}</mat-option>
      <mat-option *ngFor="let option of field.options" [value]="option.value">
        {{ option.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
