@import '../../../../../assets/styles/abstracts/variables';

::ng-deep .prescriber-select {
  height: 4rem;
  mat-form-field .mat-mdc-text-field-wrapper {
    height: 4rem;
    width: 20rem;
  }
  .mat-mdc-form-field-infix {
    padding: 0.6rem 0 0 !important;
  }
}

.mat-mdc-option {
  min-height: 4rem;
  color: $color-grey-dark-4;

  &:hover {
    background-color: $color-secondary;
    color: white;
  }
}

::ng-deep {
  .mat-mdc-form-field-infix {
    padding: 0 !important;
    display: flex;
    align-items: center;
    min-height: 3.5rem;
    max-height: 4rem;
  }

  .mat-mdc-form-field {
    width: 100%;
  }

  .mat-mdc-option {
    .mdc-list-item__primary-text {
      font-size: 1.6rem;
      color: $color-grey-dark-4;
    }
    &:hover:not(.mat-option-disabled) {
      .mdc-list-item__primary-text {
        color: $color-white;
      }
    }
  }
}
