<mat-tab-group animationDuration="100ms" #tabGroup>
  <mat-tab label="Facility">
    <div class="facility-container" *ngIf="this.tabGroup.selectedIndex === 0">
      <app-add-facility
        [title]="facilityTabTitle"
        [subTitle]="facilityTabSubTitle"
        (masterFacilities)="collectMasterFacilities($event)"
        (deleteFacilities)="facilitiesToDelete($event)"
        requirementFor="accountSetting"></app-add-facility>
    </div>
  </mat-tab>

  <mat-tab label="Provider">
    <div class="provider-container" *ngIf="this.tabGroup.selectedIndex === 1">
      <app-add-healthcare-provider
        [componentTitle]="providerTabTitle"
        [componentSubTitle]="providerTabSubTitle"
        requirementFor="accountSetting">
      </app-add-healthcare-provider>
    </div>
  </mat-tab>
</mat-tab-group>
