@import '../../../../assets/styles/abstracts/variables';

.provider-container,
.facility-container {
  background-color: $color-white;
}

:host ::ng-deep .add-facility-container {
  padding: 2.4rem 4rem !important;
}

:host ::ng-deep .mat-mdc-tab-header {
  .mat-mdc-tab-label-container {
    margin-left: 5.7rem;

    .mat-mdc-tab-labels {
      gap: 2.4rem;
      align-items: end;

      .mdc-tab__text-label {
        color: $color-white;
      }
    }
  }
}

:host
  ::ng-deep
  .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs
  > .mat-mdc-tab-header {
  .mat-mdc-tab {
    flex-grow: 0;
    width: 23rem;
    height: 5.6rem;
    background-color: $color-header;
    border-radius: 0.8rem 0.8rem 0 0;
    color: $color-white;
    font-weight: 700;
    font-size: 2.5rem;
  }
  .mdc-tab--active {
    background-color: $color-tertiary;
    height: 6.3rem;
  }
}

:host :ng-deep .mat-mdc-tab-labels {
  display: flex;
  flex: 1 0 auto;
  width: 41%;
  gap: 3rem;
  margin-left: 5.7rem;
}

:host ::ng-deep .mdc-tab-indicator__content--underline {
  display: none;
}
