<div class="change-password">
  <p class="text-med text-x-bold">
    Enter your current password and a new password.
  </p>
  <p class="error-or-required"><span>* </span>Required field</p>
  <div class="form-fields">
    <div
      class="input-fields"
      *ngFor="let control of profileService.changePasswordJson?.controls">
      <app-custom-form
        formType="profile-form"
        [field]="control"
        [form]="profileService.changePasswordForm"></app-custom-form>
    </div>
    <div class="change-password-buttons">
      <app-custom-button
        btnClass="secondary register-user"
        btnText="&#60; Back to Home"
        [routerLink]="['/enrollment/dashboard']"></app-custom-button>
      <app-custom-button
        btnClass="tertiary register-user"
        btnText="Save"
        [isDisabled]="
          profileService.changePasswordForm &&
          profileService.changePasswordForm.invalid
        "
        (click)="saveChangePassword()"></app-custom-button>
    </div>
  </div>
</div>
