// COLORS
$color-primary: #40488d;
$color-secondary: #924a98;
$color-tertiary: #ff6633;

$color-header: #544f40;
$color-sub-header: #55565b;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-border: #adadad;
$color-grey-dark: #181818;
$color-grey-dark-2: #363636;
$color-grey-dark-3: #3d3d3d;
$color-grey-dark-4: #5e5e5e;

$color-white: #fff;
$color-white-fade: #e9f1f3;
$color-table-odd-rows: #f4f9fc;
$color-table-hover: #e0f3ff;
$color-black: #1b1b1b;
$color-error: #e72020;
$color-disabled: #a1bbc8;
$color-blue-light-1: #e5f1f8;

$color-border-1: #dbdbdb;
$color-border-2: #b6b6b6;
$color-border-3: #c1c8cb;

$border-style: 1px solid $color-border-1;
$border-style-2: 1px solid $color-border-2;

$icon-light: #55565b;

//FONT Familiy
$primary-font: 'Roboto';
$secondary-font: 'Montserrat';
$tertiary-font: 'Arial';

$default-font-size: 1.6rem;

$spaces: (1, 2, 3, 4, 5, 6, 7, 8);
$sides: (top, right, bottom, left);
