@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/Black/LibreFranklin-Black.woff2') format('woff2'),
        url('../fonts/Black/LibreFranklin-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/Light/LibreFranklin-Light.woff2') format('woff2'),
        url('../fonts/Light/LibreFranklin-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/Bold/LibreFranklin-Bold.woff2') format('woff2'),
        url('../fonts/Bold/LibreFranklin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/Regular/LibreFranklin-Regular.woff2') format('woff2'),
        url('../fonts//Regular/LibreFranklin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('../fonts/Thin/LibreFranklin-Thin.woff2') format('woff2'),
        url('../fonts/Thin/LibreFranklin-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Light/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Light/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Regular/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Regular/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Bold/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Bold/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Regular/Roboto-Regular.woff2') format('woff2'),
        url('../fonts//Regular/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Thin/Roboto-Thin.woff2') format('woff2'),
        url('../fonts/Thin/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Light/Montserrat-300.woff2') format('woff2'),
        url('../fonts/Light/Montserrat-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Bold/Montserrat-700.woff2') format('woff2'),
        url('../fonts/Bold/Montserrat-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Regular/Montserrat-regular.woff2') format('woff2'),
        url('../fonts//Regular/Montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Medium/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts//Medium/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}