@import '../../../../assets/styles/abstracts/variables';

.forgot-username-container-main {
  display: flex;
  flex-direction: column;
  margin: auto 7rem;
  background-color: $color-white;
  border-radius: 8px;
}
