<br />
<!-- <div class="forgot-password-container">
  <div class="forgot-username-container-header">Forgot Password</div>
  <div class="forgot-username-container-main" *ngIf="forgotPAsswordForm1">
    <div class="common-text">
      <p class="common-text-header">Confirm Username & Email Address</p>
      <p class="common-text-sub-header">
        Please verify the username and email address for your account.
      </p>
      <p class="required-field">
        <span class="asterick">* </span>Required field
      </p>
    </div>
    <form
      class="form-container"
      [formGroup]="confirmUsernameEmailForm"
      (ngSubmit)="onSubmit()">
      <div
        class="input-fields"
        *ngFor="let control of formData.controls; let i = index"
        [ngClass]="i === 2 ? 'input-field-3' : ''">
        <label class="input-fields-label"
          >{{ control.label }} <span class="required-field">* </span></label
        >
        <!-- <app-custom-input
          [inputControl]="control"
          [fieldClassName]="inputFieldClass"
          [class]="'input-field-' + (i + 1)"
          [formControlName]="formControlNameArray[i]"></app-custom-input> -->
<!-- </div>
      <app-custom-button
        btnText="Submit"
        isDisable="false"
        btnType="secondary"
        type="submit"></app-custom-button>
    </form>
    <div class="forgot-username-container-main-footer">
      <app-custom-button
        class="back-btn"
        btnText="< Back to Login"
        isDisable="false"
        btnType="primary"></app-custom-button>
      <button class="register-btn">Register</button>
    </div>
  </div>
</div> -->
-->
<br />
