<br />
<div class="forgot-password-container" *ngIf="!passwordResetSuccessful">
  <div class="forgot-password-container-header">{{ containerHeader }}</div>
  <div class="forgot-password-container-main">
    <div class="common-text">
      <p class="common-text-header">{{ containerSubHeader }}</p>
      <p class="common-text-sub-header">
        {{ containerSubHeaderInformation }}
      </p>
      <p class="required-field">
        <span class="asterick">* </span>Required field
      </p>
    </div>

    <div class="form-fields-div" *ngIf="showVerifyForm">
      <div
        class="input-fields"
        *ngFor="let control of formDataVerifyForm?.controls">
        <app-custom-form
          [field]="control"
          [form]="forgotPasswordVerifyForm"
          formType="forgot-password-verify"></app-custom-form>
      </div>
      <app-custom-button
        btnText="Next"
        [isDisabled]="forgotPasswordVerifyForm.invalid"
        btnClass="tertiary button-1"
        (click)="verifyIdentity()"></app-custom-button>
    </div>

    <div class="form-fields-div" *ngIf="showQuestionForm">
      <div
        class="input-fields"
        *ngFor="let control of formDataQuestionForm?.controls">
        <app-custom-form
          [field]="control"
          [form]="forgotPasswordQuestionForm"
          formType="forgot-password-verify"></app-custom-form>
      </div>
      <app-custom-button
        btnText="Next"
        [isDisabled]="forgotPasswordQuestionForm.invalid"
        btnClass="tertiary button-1"
        (click)="verifyQuestionAnswer()"></app-custom-button>

      <div class="information-div">
        <img src="../../../../assets/images/info_icon.svg" class="info-icon" />
        <span class="info-text"
          >Please contact us if you cannot remember the answers to your security
          questions.</span
        >
      </div>
    </div>

    <div class="form-fields-div" *ngIf="showConfirmForm">
      <div
        class="input-fields"
        *ngFor="let control of formDataConfirmForm?.controls">
        <app-custom-form
          [field]="control"
          [form]="forgotPasswordConfirmForm"
          formType="forgot-password-verify"></app-custom-form>
      </div>
      <app-custom-button
        btnText="Submit"
        isDisable="false"
        btnClass="tertiary button-1"
        (click)="submitNewPassword()"></app-custom-button>
    </div>
  </div>

  <div class="forgot-password-container-footer">
    <app-custom-button
      btnClass="secondary button-1"
      btnText="< Back to Login"
      [isDisabled]="false"
      (click)="navigateToLogin()"></app-custom-button>
  </div>
</div>

<div class="successful-container" *ngIf="passwordResetSuccessful">
  <p class="successful-container-header">Password Reset</p>
  <p class="successful-container-subHeader">
    Your password has been reset successfully
  </p>
  <app-custom-button
    btnClass="tertiary button-1"
    btnText="Continue to Login Screen"
    [isDisabled]="false"
    (click)="navigateToLogin()">
  </app-custom-button>
</div>

<br />
