<div class="forgot-password-container" *ngIf="!passwordResetSuccessful">
  <div class="forgot-password-container-header">{{ containerHeader }}</div>
  <div class="forgot-password-container-main">
    <div class="title-container">
      <p class="title-container-header text-large">{{ containerSubHeader }}</p>
      <span class="title-container-sub-header text-med">
        {{ containerSubHeaderInformation }}
      </span>
      <p class="required-field"><span>* </span>Required field</p>
    </div>

    <div class="form-fields" *ngIf="showVerifyForm">
      <div
        class="input-fields"
        *ngFor="let control of formDataVerifyForm?.controls">
        <app-custom-form
          [field]="control"
          [form]="forgotPasswordVerifyForm"
          formType="forgot-password-verify"></app-custom-form>
      </div>
      <app-custom-button
        [isDisabled]="
          forgotPasswordVerifyForm && forgotPasswordVerifyForm.invalid
        "
        btnText="Next"
        btnClass="tertiary medium"
        (click)="verifyIdentity()"></app-custom-button>
    </div>

    <div class="form-fields" *ngIf="showQuestionForm">
      <div
        class="input-fields"
        *ngFor="let control of formDataQuestionForm?.controls">
        <app-custom-form
          [field]="control"
          [form]="forgotPasswordQuestionForm"
          formType="forgot-password-verify"></app-custom-form>
      </div>

      <app-custom-button
        btnText="Next"
        [isDisabled]="forgotPasswordQuestionForm.invalid"
        btnClass="tertiary medium"
        (click)="verifyQuestionAnswer()"></app-custom-button>

      <div class="information-div">
        <img src="../../../../assets/images/info_icon.svg" class="info-icon" />
        <span class="info-text"
          >Please contact us if you cannot remember the answers to your security
          questions.</span
        >
      </div>
    </div>

    <div class="form-fields" *ngIf="showConfirmForm">
      <div
        class="input-fields"
        *ngFor="let control of formDataConfirmForm?.controls">
        <app-custom-form
          [field]="control"
          [form]="forgotPasswordConfirmForm"
          formType="forgot-password-verify"></app-custom-form>
      </div>

      <app-custom-button
        btnText="Submit"
        isDisable="false"
        btnClass="tertiary medium"
        (click)="submitNewPassword()"></app-custom-button>
    </div>
  </div>

  <div
    class="forgot-footer"
    [ngStyle]="{
      'padding-top':
        containerHeader === 'Forgot Password'
          ? '9rem'
          : containerHeader === 'Confirm New Password'
          ? '5.5rem'
          : '2rem'
    }">
    <app-custom-button
      btnClass="secondary medium"
      [btnText]="
        containerHeader === 'Forgot Password' ? '< Back to Login' : '< Back'
      "
      (click)="
        containerHeader === 'Forgot Password'
          ? navigateToLogin()
          : showPrevious()
      "></app-custom-button>
  </div>
</div>

<div class="successful-container" *ngIf="passwordResetSuccessful">
  <p class="successful-container-header">Password Reset</p>
  <p class="successful-container-subHeader">
    Your password has been reset successfully
  </p>
  <app-custom-button
    btnClass="tertiary medium"
    btnText="Continue to Login Screen"
    (click)="navigateToLogin()">
  </app-custom-button>
</div>
