<div class="custom-dialog">
  <h2 class="title-container flex-align text-med text-x-bold">
    <figcaption>
      {{ data.title }}
    </figcaption>
    <figcaption mat-dialog-close>
      <mat-icon>close</mat-icon>
    </figcaption>
  </h2>
  <mat-dialog-content class="content-container flex-align">
    <img
      *ngIf="data.imgIcon"
      src="{{ '../../../../../../assets/images/' + data.imgIcon }}" />
    <div [ngStyle]="{ 'flex-basis': data.imgIcon ? '80%' : '100%' }">
      {{ data.content }}
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="action-buttons flex-align">
    <button class="cancel-btn" mat-button (click)="dialogRef.close()">
      {{ data.cancelText }}
    </button>
    <button class="confirm-btn" mat-button (click)="dialogRef.close()">
      {{ data.confirmText }}
    </button>
  </mat-dialog-actions>
</div>
