<div class="overlay" (click)="action.emit(false)"></div>
<div class="custom-dialog">
  <div class="title spaced-layout">
    <span class="text-med text-x-bold">{{ data.title }}</span>
    <span (click)="action.emit(false)"><mat-icon>close</mat-icon></span>
  </div>
  <div
    *ngIf="data.htmlString; else else_block"
    class="custom-dialog-content tp-2 lp-3 rp-3 bp-2"
    [innerHTML]="this.data.htmlString | safe : 'html'"></div>
  <ng-template #else_block>
    <div class="custom-dialog-content tp-2 lp-3 rp-3 bp-2">
      <ng-content></ng-content>
    </div>
  </ng-template>

  <div
    class="spaced-layout"
    [ngClass]="{ 'justify-center': data.noOfButtons === 1 }">
    <app-custom-button
      *ngIf="data.noOfButtons !== 1"
      btnClass="small secondary"
      [btnText]="data.closeText"
      (action)="action.emit(false)"></app-custom-button>
    <app-custom-button
      btnClass="small tertiary"
      [btnText]="data.confirmText"
      (action)="action.emit(true)"></app-custom-button>
  </div>
</div>
